<div class="container">

    <h1 class="text-center">Past Papers-Clinical Sciences Stream...</h1>
    <p class="text-center">Click Below Buttons to Get..</p>
    <button type="button" class="btn btn-danger"> <a href="https://drive.google.com/drive/folders/1AI8D2Y5LN7arNnXSe3TL7CFNttHVzw1Y?usp=share_link" class="text-center link-light text-decoration-none">End Of 4th Year</a></button>
    <button type="button" class="btn btn-danger"><a href="https://drive.google.com/drive/folders/1Ku3m_A2L64tE_GC_CHTA_pWwE8qRe7yv?usp=share_link" class="text-center link-light text-decoration-none">Final MBBS 2012-2022</a></button>
    <button type="button" class="btn btn-danger"><a href="https://drive.google.com/drive/folders/1n43zfbB571PXgbFbDcW3AX67Vglrg4uL?usp=share_link" class="text-center link-light text-decoration-none">Pulmonology Bridge</a></button>
    <button type="button" class="btn btn-danger"><a href="https://drive.google.com/file/d/14UCUv0I2qRJmxmxL05-OUR56HKahpAk-/view?usp=share_link" class="text-center link-light text-decoration-none">All Module Examination MCQ 2000</a></button>
    <button type="button" class="btn btn-danger"><a href="https://drive.google.com/file/d/1xBXcXtlKB3eVUtS1BCXRFtpzzu7lPnKT/view?usp=share_link" class="text-center link-light text-decoration-none">Classified According to Topics</a></button>
    <button type="button" class="btn btn-danger"><a href="https://drive.google.com/file/d/18vFyVtkOwRB8JSkrSkmF6fsQjj_VVzpq/view?usp=share_link" class="text-center link-light text-decoration-none">End of 4th year therapeutic module past papers</a></button>
    
    
    
    <br>
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    </div>