<!--<footer class="bg-dark text-light text-center text-lg-start">-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--      © 2023 Copyright:-->
<!--      <a class="text-light text-decoration-none" href="https://academic-committe2018.netlify.app/">Academic - Committe 2018</a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  </footer>-->

<footer class="bg-dark text-light text-center text-lg-start">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-start mb-3">
          <p class="mb-0">&copy; 2023 Copyright:</p>
          <a class="text-light text-decoration-none" href="https://ac-css2.netlify.app/">Academic - Committee 2018</a>
        </div>
        <div class="col-lg-6 text-center text-lg-end">
          <div class="footer-links">
            <a class="text-light text-decoration-none mx-2 active">Quick Links</a>
            <ul class="quick-links-list">
              <li><a routerLink="/mentalhealth">Mental-Health</a></li>
              <li><a routerLink="/neuro">Neurology</a></li>
              <li><a routerLink="/repro">Reproductive</a></li>
              <li><a routerLink="/ophthalmology">Ophthalmology</a></li>
              <li><a routerLink="/rehab">MSK & Rehab</a></li>             
              <li><a routerLink="/nutrition">Nutrition</a></li>
              <li><a routerLink="/growth">Growth and Development</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  