

<div class="jumbotron big-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center">OSPE Exam</h1>
            </div>       
        </div>

    
        <div class="row"> 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/ospeshort"  class="pod">
                <img src="assets/ospe/ospesa.jpg" class="mx-auto d-block img-fluid border border-dark" alt="neuro" height="350px" width="350px">
                </a><h1 class="fw-lighter text-center"><a routerLink="/ospeshort" class="pod">OSPE Categorized according to Short Appoinments</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/17BAT-BBdf9gCrQ0MnxuDwJntLTEpOKy9"  class="pod">
                <img src="assets/ospe/ospemd.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/17BAT-BBdf9gCrQ0MnxuDwJntLTEpOKy9" class="pod">OSPE by Modules</a></h1>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/discussion"  class="pod">
                <img src="assets/ospe/ospedis.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/discussion" class="pod">OSPE Discussions</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1hJEzJb4trCiR_TrxNqc7cQLwmvplUAPq"  class="pod">
                <img src="assets/ospe/ospepp.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1hJEzJb4trCiR_TrxNqc7cQLwmvplUAPq"  class="pod">OSPE Past-Papers</a></h1>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1sHNqx4B92PZXmSnlsylNrrRVqY0SSx-d"  class="pod">
                <img src="assets/ospe/ospep.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1sHNqx4B92PZXmSnlsylNrrRVqY0SSx-d" class="pod">OSPE Praveen Sir's BAT's</a></h1>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1dPaHNyYayZpQ6n7nsCrbppkHFoOw49ri"  class="pod">
                <img src="assets/ospe/ospep.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1dPaHNyYayZpQ6n7nsCrbppkHFoOw49ri" class="pod">OSPE Praveen Sir's BAT's for CVS</a></h1>
            </div>

            
     

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
            
        </div> <!--//row-->

        <div class="row"> 