
<div class="background">
    <div class="container" *ngIf="searchText === ''">


        <h2  class="text-center header">Cardiovascular System BAT Notes</h2>
        <p class="para" >Click Below Buttons to Download...</p>

        <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>
 
<br>
<br>
        <p class="para">Download the whole pdf CVS Bat document</p>
        <button type="button" class="btn btn-dark backbtn"><a href="https://drive.google.com/uc?export=download&id=1pKHdkxxk8fPUfmiRtckDBV5CW-DkmMjs" class ="link-light text-decoration-none" >Click here to Download</a></button>

    <table class="table table-primary table-striped" id="use">
        <thead>
          <tr>
        
            <th scope="col" class="text-center">Word</th>
            <th scope="col" class="text-center">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary" (click) = "todo()"><a href="" class="link-light text-decoration-none">Atherosclerosis and MI</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary" ><a href="https://drive.google.com/uc?export=download&id=1tHbrtDkvni98iAXd9M0jDpR_NFK6GyA-" class="link-light text-decoration-none">Atherosclerosis and MI</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1jD4lBlPVfwY410yKgp8hKNFBJHH0Z6J1" class="link-light text-decoration-none">Cardiac investigations</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1LbdI4BX05dJCc0i-XHO1AUHLIA18K7YC" class="link-light text-decoration-none">Cardiac investigations</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1N9HaPcgOnPfIW5esB2E7tqoP2l11lCbC" class="link-light text-decoration-none">Clinical presentation and management of IHD</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1MwCfCLblACmGh-lbjgapLQ__6-nL-SBL" class="link-light text-decoration-none">Clinical presentation and management of IHD</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="https://drive.google.com/uc?export=download&id=16HiIdeyz-8RLf4mSh_FppiWjwQ5rDoX0" class="link-light text-decoration-none">Rheumatic fever</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1c8n4MygDbtMNdTTKyBCewl1l5ola05tS" class="link-light text-decoration-none">Rheumatic fever</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="https://drive.google.com/uc?export=download&id=10F4jKhpTHViN-3bHKTzYjqoUuwUHoc85" class="link-light text-decoration-none">Clinical aspects of VHD and management 1</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1miPbzi8mN-6UHiUAtgkC9fAqCfFujVCk" class="link-light text-decoration-none">Clinical aspects of VHD and management</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="https://drive.google.com/uc?export=download&id=1Mik8EOE9D7gxJjy2tU3K5EV3UbFo0GCd" class="link-light text-decoration-none">Clinical aspects of VHD and management 2</a></button></td>
           
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="" class="link-light text-decoration-none">Clinical evaluation and management of hypertension</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=16GR_Y89a4vNiq4b5KL2rkcpTtBWehXLh" class="link-light text-decoration-none">Clinical evaluation and management of hypertension</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="https://drive.google.com/uc?export=download&id=1gati9pqVCPOkYKLd4dCoZ9jE5jtN8NPc" class="link-light text-decoration-none">Microbiology of infective endocarditis</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1MeFUsaWQ5-lz8zIMualuMFDYGQ2cv4f5" class="link-light text-decoration-none">Microbiology of infective endocarditis</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="" class="link-light text-decoration-none">Clinical approach to infective endocarditis and management</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1MeFUsaWQ5-lz8zIMualuMFDYGQ2cv4f5" class="link-light text-decoration-none">Clinical approach to infective endocarditis and management</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1Ozc804g0VaBH9dEYyRqUl61Rmdmwdk2R" class="link-light text-decoration-none">Embryology of the heart Patho physiology of CHD</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1xs35gWT2sJHagDL3Yg0gW-JcOQzuax1v" class="link-light text-decoration-none">Embryology of the heart Patho physiology of CHD</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1fg1wFEhUbU1BuysCSZnvBeRxr6lrReBL" class="link-light text-decoration-none">Patho physiology and management of heart failure</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1aZ6Ju9kbCc_KPDD7UbS33LEMjBHT0RgW" class="link-light text-decoration-none">Patho physiology and management of heart failure</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="https://drive.google.com/uc?export=download&id=1Ozc804g0VaBH9dEYyRqUl61Rmdmwdk2R" class="link-light text-decoration-none">Clinical evaluation and management of CHD</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1wKDzjUihHp7GgMdbh8U00Kj7biUe-lWg" class="link-light text-decoration-none">Clinical evaluation and management of CHD</a></button></td>
          </tr>
          <tr> 
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"(click) = "todo()"><a  href="" class="link-light text-decoration-none">Management of cardiac failure Drugs/ Devices/ Surgical aspects</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1wyh0kieCVyxouc69awW-FgzTt-eojG37" class="link-light text-decoration-none">Management of cardiac failure Drugs/ Devices/ Surgical aspects</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="https://drive.google.com/uc?export=download&id=1wrqEkBzCx7sFNOMPScu-lk_6PXbIfNID" class="link-light text-decoration-none">Conduction system and the management of arrythmias</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1bH0FGgeW_MefDsMOFrvknI6pFfQFcZsL" class="link-light text-decoration-none">Conduction system and the management of arrythmias</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a  href="https://drive.google.com/uc?export=download&id=1LqsEO9lp9-SZXg77G5rB6sAwsmu4zdlz" class="link-light text-decoration-none">Vascular disease</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=15guMVaqhuD_kpIFI_rbLehOJcm8RCjag" class="link-light text-decoration-none">Vascular disease</a></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <br>
    <br>