<div class="container-fluid" id="links">
    <h4 id="title" class="animated-title">Click Here these Buttons to Download all the lectures/recordings as a Zip File</h4>
  <button type="button" class="btn btn-dark" id="zip"><a href="" class="text-decoration-none text-light">Lecture Notes</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="" class="text-decoration-none text-light">Lecture Recordings</a> </button>
  &nbsp;<button type="button" class="btn btn-success"id="zip" (click)="DownloadPDF()">Download the Lecture Topics As PDF</button>
  
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-decoration-none" id="lst"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
        <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/repro">Reproductive</a></li>
        <li id= "list" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Other Modules
          </a>
          <ul class="dropdown-menu">          
            <li><a class="dropdown-item" routerLink="/neuro" >Neurology</a></li>
            <li><a class="dropdown-item" routerLink="/ophthalmology" >Ophthalmology</a></li>
            <li><a class="dropdown-item" routerLink="/rehab" >MSK & Rehab</a></li>
            <li><a class="dropdown-item" routerLink="/mentalhealth" >Mental Health</a></li>
            <li><a class="dropdown-item" routerLink="/" >Medicolegal 2</a></li>
            <li><a class="dropdown-item" routerLink="/repro" >Reproductive</a></li>
            <li><a class="dropdown-item" routerLink="/growth" >Growth and Development 2</a></li>
            <li><a class="dropdown-item" routerLink="/nutrition" >Nutrition</a></li>
            <li><a class="dropdown-item" routerLink="/geriactrics" >Geriactrics</a></li>
            <li><a class="dropdown-item" routerLink="/palliative" >Palliative care</a></li>
            <li><a class="dropdown-item" routerLink="/family" >Family Medicine</a></li> 
        </ul>
        </li>
    
      </ol>
    </nav>
  
    <ul class="nav justify-content-center" id="tabs">
      <li class="nav-item ">
        <a class="nav-link active text-dark" aria-current="page" routerLink="/nutrition">LECTURES</a>
      </li>
      <li class="nav-item"  id="lit">
        <a class="nav-link text-light" routerLink="/nutritionold">AScS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/nutritionbats">BATS(2017)</a>
      </li>
    </ul>

    <table class="table table-hover table-bordered border-dark" id="test">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">PDF</th>
          <th scope="col">Video</th>
         
        </tr>
      </thead>
      <tbody>
        <tr class="fade-in" >
          <th scope="row">1</th>
          <td>Double burden of malnutrition</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1PP5djBWQ4B_lA0b-IDZvw38lZTZLIkhm/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1EcHTjOK1amywRg1ca2oxBkEEOWOlgFye/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">2</th>
          <td>Energy Balance</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1-nvxNuIunJHzlUtkmIFFka4EbarmijoI/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1iQNfTqvwFzRhy1AwEIr_rg35tEF48AzN/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">3</th>
          <td>Body Composition</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1TwCtJsS1Urxb1P7fQRTOD2lgJC4egUh6/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/13wGj8VKLVYZ_R66Fjjwf1AbavfJrt1uE/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">3.0</th>
          <td>Body Composition</td>
          <td class="td1"><a href="https://drive.google.com/file/d/18O-pavgpio3LdQ6J_IHYCg2xSf0y1IwJ/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">3.1</th>
          <td>Anthropometry</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1tvdX8N94QCVrJ0MNCTlo_IpHiQVAt02C/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1DA6-0L6meRj1enDWR47SVbw64ZFoEQv0/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">4</th>
          <td>Nutrition throughout the life cycle Pregnancy and Lactation</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1Uvf_hcvo8tYoSmAa8hbx0T9p--LIunUf/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">5</th>
          <td>Nutritional Assessment</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1LUzqo-C4LY9XA_vC5xdEHF6oaJtDO5qI/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1kWY2oRWmtunA_eUz5gzKmzt9JJnGEvIp/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">5</th>
          <td>24 hour dietary recall</td><td>Nill</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1mKZ5NefgX_7dgZPuFPiSuAS7PFZUGiWI/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">6</th>
          <td>Nutrition of Child/Adolescent</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1cuN-__GwSS9cnELnwhrcAe7qOuCM9Tqj/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1gBlvosCswnlNmIQbv4p59MHU-3I3yXyn/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">7</th>
          <td>Nutrition of Adult/elderly</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1G9Cf7ufePTqPQ7LaRJ3yj34OriHwKjN9/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/19v9pYbSN5RqyBFd2zhBNAhe70MuxtaHm/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">9</th>
          <td>Planning Diet</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1mRIXPnjL7XgNijj7ho-juHZ1K5k8Rbx6/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1fRMtLDlXCzoP7ViMl1_DLh4MJdOY8AGI/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">9</th>
          <td>Planning Diet vedio part 2</td>
          <td>Nill</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1CFwShF_vTYUKY0IxWDewsfvEcCG1tB9G/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>


        <tr class="fade-in" >
          <th scope="row">10</th>
          <td>Recommendation for NCD prevention</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1l6Hnzlgj6qqp-RpS1uyKYtEC5TL3t7wM/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1JIwBYirRAQExv6YEitfqW4YoqQIExUBi/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">10</th>
          <td>Recommendation for NCD prevention vedio part 2</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1l6Hnzlgj6qqp-RpS1uyKYtEC5TL3t7wM/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1YNvPFP_1L2RTPU4dXd9R3I9S0uN55YaC/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">11</th>
          <td>Creating enabling environment</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1M39WFySToNqCjRh9I0z6PMCj2IHfgtq_/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1HkJsiyhr9iMB4d3gDHPRtiK0zfvVKeBE/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>


        <tr class="fade-in" >
          <th scope="row">12</th>
          <td>Sustainable health diets</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1bp6ExppOCl34Q3TOh821mPq-W2rUrg4G/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/10LcMRcYbECBvWo2i43oJf5IzmsNxxl8D/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">13</th>
          <td>Student Presentation</td>
          <td class="td1"><a href=""><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1fQVc0nafz4w1WSjXf_SwqFbprQ4ADpoZ/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

        <tr class="fade-in" >
          <th scope="row">14</th>
          <td>Formative Assessment</td>
          <td class="td1"><a href=""><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1t-MynqreDjWhl8q7l1H6LArYTCTrtE1E/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>

      </tbody>
  </table>
