<div class="jumbotron big-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center">OLd Lectures From Academic Drive</h1>
            </div>       
        </div>

        <div class="row"> 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/101RDdN_slVxN-cOczYEcpG5yLXYPl7aF?usp=share_link" class="pod">
                <img src="assets/BLS.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="bls" height="350px" width="350px">
                </a><h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/101RDdN_slVxN-cOczYEcpG5yLXYPl7aF?usp=share_link" class="pod">BLS</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1qUsF2uFeLyltWZwk09DvmL9sAMDRAVr0?usp=share_link"class="pod">
                <img src="assets/CVS.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="cvs" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1qUsF2uFeLyltWZwk09DvmL9sAMDRAVr0?usp=share_link"class="pod">CVS</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1i4BTfjL4i9seYQ-fIYHKZuQpRICW1y57?usp=share_link"class="pod">
                <img src="assets/ED.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="endo" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1i4BTfjL4i9seYQ-fIYHKZuQpRICW1y57?usp=share_link"class="pod">Endocrine</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1Vxm27awmcgDBrgrQv0W8uKCGKhqIABN8?usp=share_link"class="pod">
                <img src="assets/GIT.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="GIT" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1Vxm27awmcgDBrgrQv0W8uKCGKhqIABN8?usp=share_link"class="pod">GIT</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1Y9tJzKnpbFRTymKfPAsLMjPg5cUcwZeV?usp=share_link"class="pod">
                <img src="assets/IPD.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="IPD" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1Y9tJzKnpbFRTymKfPAsLMjPg5cUcwZeV?usp=share_link"class="pod">IPD</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1NCSiTMg2nvJYsVH0YKb1IHVTmz5YMytQ?usp=share_link" class="pod">
                <img src="assets/MSK.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="MSK" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1NCSiTMg2nvJYsVH0YKb1IHVTmz5YMytQ?usp=share_link" class="pod">MSK</a></h1>
            </div>
    
        </div> <!--//row-->
        <div class="row">
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/13f8DeDfx14dsijbhkdyneGPyBe5lFKs7?usp=share_link"class="pod">
                <img src="assets/NU.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="nephro" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/13f8DeDfx14dsijbhkdyneGPyBe5lFKs7?usp=share_link"class="pod">Nephrourology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1p9o98_08sHmWdhalTtqRj734oMTnlyYq?usp=share_link"class="pod">
                <img src="assets/NL.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="NEURO" height="250px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1p9o98_08sHmWdhalTtqRj734oMTnlyYq?usp=share_link"class="pod">Neurology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1fKUCNfOBwgRl_PxTJafsH_6O8edKqjha?usp=share_link"class="pod">
                <img src="assets/NE.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="neutrition" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1fKUCNfOBwgRl_PxTJafsH_6O8edKqjha?usp=share_link"class="pod">Nutrtion</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1vP8uIlxLpHl3PdLhwYX1JxXODpxPxsQ1?usp=share_link"class="pod">
                <img src="assets/RE.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="repro" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1vP8uIlxLpHl3PdLhwYX1JxXODpxPxsQ1?usp=share_link"class="pod">Reproductive</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1dmmT9SBwZJkB7tA85qqpZtmXnFVhMljt?usp=share_link"class="pod">
                <img src="assets/RS.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="respo"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1dmmT9SBwZJkB7tA85qqpZtmXnFVhMljt?usp=share_link"class="pod">Respiratory</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/159zfnlSDbwpKZk_-7gpW7DhcIs6cLLEe?usp=share_link"class="pod">
                <img src="assets/FM1.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="FM1" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/159zfnlSDbwpKZk_-7gpW7DhcIs6cLLEe?usp=share_link"class="pod">Foundation Module 1</a></h1>
            </div>
    
        </div><!--//row-->
    
        <div class="row">
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1xi4F5wcRemWaIsaDUQCE6tc77yKrsHUV?usp=share_link"class="pod">
                <img src="assets/FM2.M.jpg" class="mx-auto d-block img-fluid border border-dark" alt="FM2"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/drive/folders/1xi4F5wcRemWaIsaDUQCE6tc77yKrsHUV?usp=share_link"class="pod">Foundation Module 2</a></h1>
            </div>
    
            
    
    
    </div><!--//container-->
</div>