
<div class="background">
    <div class="container">
        <h2  class="text-center header">Nephrourology BAT Notes</h2>
        <p class="para">Click Below Buttons to Download...</p>

        <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>
    
    <table class="table table-warning table-striped" id="use">
        <thead>
          <tr>
        
            <th scope="col" class="text-center">Word</th>
            <th scope="col" class="text-center">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1JboLIEhuUkppN6GX5hRxxOM-95fuzXF3" class="link-dark text-decoration-none">Procedure of genito-urinary system</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1JwFXIgYYk22A-vJc4uxrDkmVgKYGbgUf" class="link-dark text-decoration-none">Procedure of genito-urinary system</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1JI3BgKEgZEUo_SHFcaLOL1DJPmLQOHnm" class="link-dark text-decoration-none"> Investigating a patient with a genito-urinary problem (biochemical & radiological)</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1JjPg5iCscQova4e13cdyCeTfp0ZTNVxK" class="link-dark text-decoration-none"> Investigating a patient with a genito-urinary problem (biochemical & radiological)</a></button></td>
          </tr>
         
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1JLcOVhp6BhttvZ0g8ve-93eT3m83QdV_" class="link-dark text-decoration-none">Chronic kidney disease</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1Jfbt9pH59a5LabTJG-OleTPWubfQvsu4" class="link-dark text-decoration-none">Chronic kidney disease</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1JfR61q9Ws32is1IKdAvZzRQwaG_PYuNZ" class="link-dark text-decoration-none"> Principles of Renal replacement therapy</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1JzMQcmDG-BiB1HB3Ol7A5L29BKG8OtIQ" class="link-dark text-decoration-none"> Principles of Renal replacement therapy</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1Jbkc5GrTnPxkyZrdijSL3zWx-T2iu-Xa" class="link-dark text-decoration-none">Paediatric urological problems</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href = "https://drive.google.com/uc?export=download&id=1Js3C7As0nwbZZ2Sh5QjIUWBUxBhPxhOx" class="link-dark text-decoration-none">Paediatric urological problems</a></button></td>
          </tr>
         
        </tbody>
      </table>
    </div>
    </div>
    <br>
    <br>
