<div class="header">
    <h4 class="head">BAT Notes Are Now Available by 2016 Batch<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h4>
    </div>
    
    <div class="container-fluid" id="links">
        <h4 id="title" class="animated-title">Click Here these Buttons to Download all the lectures/recordings as a Zip File</h4>
      <button type="button" class="btn btn-dark" id="zip"><a href="" class="text-decoration-none text-light">Lecture Notes</a> </button>
      &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/file/d/1BljEL8QGTPfyvi_Qr4uOyPk2SRu-3hmE/view?usp=drive_link" class="text-decoration-none text-light">Lecture Recordings</a> </button>
      &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/file/d/1-iD62CJ7R7BUXSaT5GU1DYo5z5rcF_uG/view?usp=drive_link" class="text-decoration-none text-light">BAT Part 1</a> </button>
      &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/file/d/14kgtv_me4ZdY_K8bwDmAGLC7sFwdfUMn/view?usp=drive_link" class="text-decoration-none text-light">BAT Part 2</a> </button>
      
      
  
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-decoration-none" id="lst"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
        <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/repro">Reproductive</a></li>
        <li id= "list" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Other Modules
          </a>
          <ul class="dropdown-menu">          
            <li><a class="dropdown-item" routerLink="/neuro" >Neurology</a></li>
            <li><a class="dropdown-item" routerLink="/ophthalmology" >Ophthalmology</a></li>
            <li><a class="dropdown-item" routerLink="/rehab" >MSK & Rehab</a></li>
            <li><a class="dropdown-item" routerLink="/mentalhealth" >Mental Health</a></li>
            <li><a class="dropdown-item" routerLink="/" >Medicolegal 2</a></li>
            <li><a class="dropdown-item" routerLink="/repro" >Reproductive</a></li>
            <li><a class="dropdown-item" routerLink="/growth" >Growth and Development 2</a></li>
            <li><a class="dropdown-item" routerLink="/nutrition" >Nutrition</a></li>
            <li><a class="dropdown-item" routerLink="/geriactrics" >Geriactrics</a></li>
            <li><a class="dropdown-item" routerLink="/palliative" >Palliative care</a></li>
            <li><a class="dropdown-item" routerLink="/family" >Family Medicine</a></li> 
        </ul>
        </li>
    
      </ol>
    </nav>
  
    <ul class="nav justify-content-center" id="tabs">
      <li class="nav-item ">
        <a class="nav-link active text-dark" aria-current="page" routerLink="/repro">LECTURES</a>
      </li>
      <li class="nav-item"  id="lit">
        <a class="nav-link text-light" routerLink="/reprobats">BATS(2017)</a>
      </li>
    </ul>
  
    
    <div class="row" id="comp">
        <div class="col-4">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="/reprobats/#list-item-1">Obstetrics</a>
            <a class="list-group-item list-group-item-action" href="/reprobats/#list-item-2">Gynaecology</a>
            <a class="list-group-item list-group-item-action" href="/reprobats/#list-item-3">Neonatology</a>
            <a class="list-group-item list-group-item-action" href="/reprobats/#list-item-4">Pharmacology</a>
            <a class="list-group-item list-group-item-action" href="/reprobats/#list-item-5">Genetics</a>
          </div>
        </div>

        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <h4 id="list-item-1">Obstetrics</h4>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" >BAT</th>
                    <th scope="col" >You-Tube</th>
                  </tr>
                </thead>
                <tbody>
                
                  <tr>
                   <td>Normal Pregnancy - Manul                </td>
                    <td class="td1"><a href="https://youtu.be/OGmBd-arn58"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                  </tr>

                  <tr>
                    <td>Imaging in Pregnancy - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/jSY36kcsupQ"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Physiology of Pregnancy - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/7pv9X7bCPxs"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Normal Labour & Partogram - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/bnTb7SUiijE"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Management & Complications of 3rd Stage of labour - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/_JW1U0AP4qM"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Abnormal Labour - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/o5ai60ayeBM"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Antepartum Haemorrhage - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/X8BvUzZUNNQ"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Ectopic Pregnancy - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/izXGzK4XfHk"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>PIH & Pre eclampsia - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/3lCLZ6xIXzY"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Labour Anaesthesia - Maheshi
                    </td>
                     <td class="td1"><a href="https://youtu.be/WxzwNDpky4k"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Diabetes in pregnancy - Anuradhi
                    </td>
                     <td class="td1"><a href="https://youtu.be/CfL0B8qagcc"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Multiple Pregnancy - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/b7nJS0b1Gvc"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Rhesus Isoimmunization - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/miz8OhUeONw"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Gestational Trophoblastic Disease - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/QpdNRXkllL0"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Heart Diseases in Pregnancy - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/JUfj4aI35I4"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                 
                </tbody>
              </table>

              <h4 id="list-item-2">Gynaecology</h4>



            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"class="th2">BAT</th>
                    <th scope="col"class="th2">You-Tube</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>Breast Disease(1) - Manul
                </td>
                    <td class="td1"><a href="https://youtu.be/FCjUkShf6yQ"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                  </tr>

                  <tr>
                    <td>Breast Disease(2) - Manul</td>
                     <td class="td1"><a href="https://youtu.be/N_LWJy6mlUM"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Benign Uterine Tumors - Pasindu D
                    </td>
                     <td class="td1"><a href="https://youtu.be/PDEOF9feK-0"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Pelvic Inflammatory Disease - Anuradhi</td>
                     <td class="td1"><a href="https://youtu.be/4EF4uf9R-uM"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Primary & Secondary Amenorrhea - Anuradhi
                    </td>
                     <td class="td1"><a href="https://youtu.be/vcYqO284Xak"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Cervical Carcinoma - Pasindu D
                    </td>
                     <td class="td1"><a href="https://youtu.be/PiZeDuWjxrY"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>UV Prolapse - Pasindu D
                    </td>
                     <td class="td1"><a href="https://youtu.be/LUPPGgvUCfM"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Urogynaecology - Pasindu D
                    </td>
                     <td class="td1"><a href="https://youtu.be/yNqixmjbanE"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Endometriosis & Adenomyosis - Pasindu D
                    </td>
                     <td class="td1"><a href="https://youtu.be/XQno9Hbub-g"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Ovarian Tumours- Pasindu D
                    </td>
                     <td class="td1"><a href="https://youtu.be/2mRCkxsv-vA"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Sexual Dysfunction - Pasindu D
                    </td>
                     <td class="td1"><a href="https://youtu.be/QG76HNVODIg"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Subfertility & Ovulation Induction - Udari
                    </td>
                     <td class="td1"><a href="https://youtu.be/Apzjq8eo-DY"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Abnormal Uterine Bleeding - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/lMvM54PuCoY"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Miscarriages - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/8GlflwbVKyU"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                   <tr>
                    <td>Menopause & HRT - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/xMLO0Vp2Prk"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                 
                </tbody>
              </table>

              <h4 id="list-item-3">Neonatology</h4>

              
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="th3">BAT</th>
                    <th scope="col" class="th3">You-Tube</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>Newborn Assessment - Geshan</td>
                    <td class="td1"><a href="https://youtu.be/i5pD6Eb6Tfo"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                </tr>

                <tr>
                    <td>Neonatal Infections - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/GhL8X8o20B4"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                 <tr>
                    <td>HIE - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/ngD-lvRNv7w"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                 <tr>
                    <td>Neonatal seizures - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/8HobAKq9c7U"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                 <tr>
                    <td>Neonatal Jaundice - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/HfUS6vSjniQ"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                 <tr>
                    <td>Respiratory Distress in the newborn - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/KCMvIxn36vw"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                 <tr>
                    <td>Infant born to diabetic mother - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/CrXboa2_9iE"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                 <tr>
                    <td>PROM, preterm labour, Premature baby - Geshan
                    </td>
                     <td class="td1"><a href="https://youtu.be/PdfZul_cGtI"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                 <tr>
                    <td>NNT - Slides</td>
                     <td class="td1"><a href="https://drive.google.com/drive/folders/147tdoAl5w1gpY1z4NCalX3zp5krO7bCE"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>
                </tbody>
            </table>

              <h4 id="list-item-4">Pharmacology</h4>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="th4">BAT</th>
                    <th scope="col"class="th4">You-Tube</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>Hormonal Contraceptives - Devanmini</td>
                    <td class="td1"><a href="https://youtu.be/2eoa733ONHk"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                </tr>

                <tr>
                    <td>Medicine used in Gynecology - Anuradhi
                    </td>
                     <td class="td1"><a href="https://youtu.be/jSVqHJvyyCc"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                 <tr>
                    <td>Drugs use in obstetrics-Anuradhi
                    </td>
                     <td class="td1"><a href="https://youtu.be/Gu6oTfXy06M"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                </tbody>
            </table>
            
            <h4 id="list-item-5">Genetics</h4>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"class="th5">BAT</th>
                    <th scope="col"class="th5">You-Tube</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>Part I - Manul
                </td>
                    <td class="td1"><a href="https://youtu.be/cTERabd78YE"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                </tr>

                <tr>
                    <td>Part II - Manul
                    </td>
                     <td class="td1"><a href="https://youtu.be/gvNTo8GDSVg"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                 </tr>

                </tbody>
            </table>
          
          </div>
        </div>
      </div>

    