
<div class="jumbotron big-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center">Modules for CSS-2</h1>
            </div>       
        </div>

    
        <div class="row"> 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/neuro"  class="pod">
                <img src="assets/css2new/neurology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="neuro" height="350px" width="350px">
                </a><h1 class="fw-lighter text-center"><a routerLink="/neuro" class="pod">Neurology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/ophthalmology" class="pod">
                <img src="assets/css2new/ophthalmology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/ophthalmology" class="pod">Ophthalmology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/rehab" class="pod">
                <img src="assets/css2new/msk.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/rehab" class="pod">MSK & Rehab</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/mentalhealth" class="pod">
                <img src="assets/css2new/MENTAL HEALTH.jpg" class="mx-auto d-block img-fluid border border-dark" alt="oncology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/mentalhealth" class="pod">Mental Health</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/" class="pod">
                <img src="assets/css2new/medicolegal.jpg" class="mx-auto d-block img-fluid border border-dark" alt="haematology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/"  class="pod">Medicolegal 2</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/repro" class="pod">
                <img src="assets/css2new/REPRODUCTIVE.jpg" class="mx-auto d-block img-fluid border border-dark" alt="dermatology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/repro" class="pod">Reproductive</a></h1>
            </div>
    
        </div> <!--//row-->

        <div class="row"> 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/growth" class="pod">
                <img src="assets/css2new/gd.jpg" class="mx-auto d-block img-fluid border border-dark" alt="neuro" height="350px" width="350px">
                </a><h1 class="fw-lighter text-center"><a routerLink="/growth" class="pod">Growth and Development 2 </a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/nutrition" class="pod">
                <img src="assets/css2new/nutrition.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/nutrition" class="pod">Nutrition</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href=""class="pod">
                <img src="assets/css2new/geriactrics.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href=""class="pod">Geriactrics</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href=""class="pod">
                <img src="assets/css2new/palliative.jpg" class="mx-auto d-block img-fluid border border-dark" alt="oncology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href=""class="pod">Palliative care</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href=""class="pod">
                <img src="assets/css2new/family.jpg" class="mx-auto d-block img-fluid border border-dark" alt="haematology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href=""class="pod">Family Medicine</a></h1>
            </div>
    
            
    
        </div> <!--//row-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    </div>
</div>