<div class="container-fluid col-12">

    <h2>1.Cardiology & Opthalmology by Damika and Gayanthee</h2>
    <h3>2023.09.05</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/j7401Bfd-NI?si=7w58P55Zvn4RrlMP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <br>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/drive/folders/1iufOSAzWUt1vwkuq2Cr-LR9Eyq-zzEj4?usp=drive_link"class="link-light text-decoration-none">Click here to View the Note</a></button>

    <h2>2.Neurology & Nephrology by Arunja</h2>
    <h3>2023.09.06</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/NsM1DVf1950?si=8lVOWBDKYhZkRFSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/drive/folders/1Ce0XerQ6neU_oG6RTwst5TYMcf6iyhNf?usp=drive_link"class="link-light text-decoration-none">Click here to View the Note</a></button>

    <h2>3.Neurosurgery by Tharushi</h2>
    <h3>2023.09.07</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/yYoCS68v8dk?si=GkDhv4I0DE8z2Umy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/file/d/1CR-we8vNkYCEtGyUYduuDmfB2MRcBN2h/view?usp=drivesdk"class="link-light text-decoration-none">Click here to View the Note</a></button>

    <h2>4.Orthopedics by Nethmini</h2>
    <h3>2023.09.08</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/xNsnbw7CdtY?si=81j-aHrFwWg2DD7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/file/d/1OYasD8GLjtxhwLzec7ZCEA0LXnXWX8zv/view?usp=drive_link"class="link-light text-decoration-none">Click here to View the Note</a></button>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/drive/folders/1LQcNI2Oh95idxTadHOTaaoVRqSdJJsNq?usp=drive_link"class="link-light text-decoration-none">Click here to View the Note</a></button>

    <h2>5.Dermatology,ENT & STD by Nadith</h2>
    <h3>2023.09.11</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/ZrIy5jj3ryY?si=zqbm22NPaQ5E-A0j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/drive/folders/10QjAjqwOJYdS4c03pEYNBMmcQsgo_Vbe?usp=drive_link"class="link-light text-decoration-none">Click here to View the Note</a></button>


</div>
