
<div class="background">
    <div class="container">
        <h2  class="text-center header">Toxicology BAT Notes</h2>
        <p class="para">Click Below Buttons to Download...</p>
    
        <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>

        <br>
        <br>
                <p class="para">Download the whole Toxicology Bat document</p>
                <button type="button" class="btn btn-dark backbtn"><a href="https://drive.google.com/uc?export=download&id=1RQnUsoiPTbpAsKOMI5DW5k4NDjoH9otK" class ="link-light text-decoration-none" >Click here to Download</a></button>
        

    <table class="table table-dark table-striped" id="use">
        <thead>
          <tr>
        
            <th scope="col" class="text-center">Word</th>
            <th scope="col" class="text-center">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1KCXTu_L9vPX6g-spp0GUnfP85nGOrXsD" class="link-dark text-decoration-none"> General principles of acute poisoning</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1Jp4qN38imnw4a9Dvm46sWexG0aAuCYJV" class="link-dark text-decoration-none"> General principles of acute poisoning</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" > <a  href="https://drive.google.com/uc?export=download&id=1Nxu9qJgQDJVvr5kE4lSjhrwgx0PFKU9m" class="link-dark text-decoration-none">Clinical features & Management of organo phosphate poisoning /Carbamate poisoning /Organo chlorine</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" > <a  href="https://drive.google.com/uc?export=download&id=1NpwgVpF4-8lPe2AHWT4SapcpoPAI9PYy" class="link-dark text-decoration-none">Clinical features & Management of organo phosphate poisoning /Carbamate poisoning /Organo chlorine</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1KP-nVGYRVZNYwHeA9Fa0t0U8KpONt1xx" class="link-dark text-decoration-none">Management of common drug overdoses of : Aspirin, Paracetamol, Opiates & Iron</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1JvMRwkEQg0nMYgF4ZPXuA21Lmq2J9mRF" class="link-dark text-decoration-none">Management of common drug overdoses of : Aspirin, Paracetamol, Opiates & Iron</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a href="https://drive.google.com/uc?export=download&id=1Q7cXGPQzuDrDH2IOk_QBgutx9AbIB5mK"  class="link-dark text-decoration-none">Antidotes</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a href="https://drive.google.com/uc?export=download&id=1Q9Cdh8ev_QxIEQ_J44NWaGMN6p04Oli0" class="link-dark text-decoration-none">Antidotes</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1Q8xujNwQmexPug4AW03DXAxnDKb5nBYL" class="link-dark text-decoration-none">Metallic poisons- As, Pb, Hg
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1QO-tYj0Hx3s4Bs6xKyxUgrT3f3JCVRQr" class="link-dark text-decoration-none">Metallic poisons- As, Pb, Hg
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1K9of0lB0lLYCh5dQvwvvx0Yq5mwp5_hX" class="link-dark text-decoration-none">Ethanol & Methanol poisoning</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1JyqqJZ8F8_oiH-w_e-A3GzZ6o2lvPGFs" class="link-dark text-decoration-none">Ethanol & Methanol poisoning</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1KeDJYdIvYgOK8pjzQuaOqY5fp5yQOlUO" class="link-dark text-decoration-none">Poisoning with irrespirable gases</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1JvuwrCOQYoeiC8pmC0OPkojmbj0cE3xr" class="link-dark text-decoration-none">Poisoning with irrespirable gases</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1KN-o02BbGPTMQmg66qqI4_OFh2dGXMde" class="link-dark text-decoration-none">Management of plant poisoning</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1JwWpWnfLl8WqoUQzMH94aGJ8dEQBsx3l" class="link-dark text-decoration-none">Management of plant poisoning</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1K-s6TUe8K0VzO-cSTrJkOUMs0jDrUKek" class="link-dark text-decoration-none">Management of snake bite envenoming & Scorpion and spider sting</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a  href="https://drive.google.com/uc?export=download&id=1Jm7u9fngZKmD-eooMrIg2NA3B8muZMqY" class="link-dark text-decoration-none">Management of snake bite envenoming & Scorpion and spider sting</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a href="https://drive.google.com/uc?export=download&id=1OHiJHhL_6HrVHRjbrPQ-NhiZVrUF9S36"  class="link-dark text-decoration-none">Drug Dependence</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-light" ><a href="https://drive.google.com/uc?export=download&id=1OCn1yganKeNzjFXjrxdiQScQXmodzJKR" class="link-dark text-decoration-none">Drug Dependence</a></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <br>
    <br>
