<ul class="nav justify-content-center" id="tabs">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/hsps1">HSPS 1</a>
    </li>
      <li class="nav-item ">
        <a class="nav-link active text-light" aria-current="page" href="https://drive.google.com/file/d/1bhahUd6j-w4H4wwf-roRz3AS_ki06N7p/view?usp=drive_link">HSPS 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/hsps3">HSPS 3</a>
      </li>
      <li class="nav-item"  id="lit">
          <a class="nav-link text-light" routerLink="/hspshome">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/hspspp">PAST-PAPERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/hspsbats">BATS</a>
        </li>
    </ul>
  
  <div class="jumbotron big-banner">
      <div class="container">
          <div class="row">
              <div class="col-12 mt-3">
                  <h1 class="text-center">Humanities and Professionalism Stream</h1>
              </div>       
          </div>
         
          <div class="row" id="handbook">
            <div class="col-12 mt-3">  
              <button type="button" class="btn btn-danger"><a href="https://drive.google.com/file/d/1X8MT-nVvSzEBAtifoxgvsKWIbWTx-LPk/view?usp=drive_link" class="text-decoration-none text-light">Download Handbook</a></button>
            </div>       
        </div>
  
          <div class="row"> 
      
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                  <a href="https://drive.google.com/file/d/1bhahUd6j-w4H4wwf-roRz3AS_ki06N7p/view?usp=drive_link"  class="pod">
                  <img src="assets/Medicolegal/hsps2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="neuro" height="350px" width="350px">
                  </a><h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1bhahUd6j-w4H4wwf-roRz3AS_ki06N7p/view?usp=drive_link" class="pod">HSPS 2</a></h1>
              </div>
      
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                  <a routerLink="/hsps3" class="pod">
                  <img src="assets/Medicolegal/hsps3.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                  <h1 class="fw-lighter text-center"><a routerLink="/hsps3" class="pod">HSPS - 3 CScS</a></h1>
              </div>
      
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                  <a routerLink="/hspspp" class="pod">
                  <img src="assets/Medicolegal/hspsp.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                  <h1 class="fw-lighter text-center"><a routerLink="/hspspp" class="pod">Past Papers</a></h1>
              </div>
  
              
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                  <a routerLink="/hspsbats" class="pod">
                  <img src="assets/Medicolegal/hspsb.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                  <h1 class="fw-lighter text-center"><a routerLink="/hspsbats" class="pod">BATs</a></h1>
              </div>
  
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      
              
          </div> <!--//row-->
  
          <div class="row"> 