
<ul class="nav justify-content-center" id="custom-navbar">
    <li class="nav-item">
      <a class="nav-link  text-light" aria-current="page" routerLink="/modules"><img src="assets/icons2/cs1.png" alt="Icon" style="height: 50px; width: 50px;"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-light" href="https://ac-css2.netlify.app/css2home"><img src="assets/icons2/cs2.png" alt="Icon" style="height: 50px; width: 50px;"></a>
    </li>
      <li class="nav-item">
        <a class="nav-link  text-light" href="https://ac-css2.netlify.app/commedhome"><img src="assets/icons2/cm.png" alt="Icon" style="height: 50px; width: 50px;"></a>
      </li>
  </ul>

  