<ul class="nav  justify-content-center" id="tabs">
    <li class="nav-item ">
      <a class="nav-link active text-light"routerLink="/commedstatistics" >STATISTICS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/commedresearch">RESEARCH</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedfap">FAP</a>
    </li>
    <li class="nav-item"  id="lit">
        <a class="nav-link text-light" routerLink="/commedhome">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedacm">ACM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedpp">PAST-PAPERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedbats">BATS</a>
      </li>
  </ul>

  <div class="jumbotron big-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center">Community Medicine Stream</h1>
            </div>       
        </div>
       
        <div class="row"> 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/" class="pod">
                <img src="assets/hsps/term1.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/" class="pod">COMMED 1</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/commedstatistics" class="pod">
                <img src="assets/hsps/stat.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/commedstatistics" class="pod">Statistics</a></h1>
            </div>

            
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/commedresearch" class="pod">
                <img src="assets/hsps/research.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/commedresearch" class="pod">Research</a></h1>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
              <a routerLink="/commedfap" class="pod">
              <img src="assets/hsps/fap.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
              <h1 class="fw-lighter text-center"><a routerLink="/commedfap" class="pod">FAP</a></h1>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
            <a routerLink="/commedacm" class="pod">
            <img src="assets/hsps/acm.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
            <h1 class="fw-lighter text-center"><a routerLink="/commedacm" class="pod">ACM</a></h1>
        </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
            <a routerLink="/commedbats" class="pod">
            <img src="assets/hsps/bats.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
            <h1 class="fw-lighter text-center"><a routerLink="/commedbats" class="pod">BATs</a></h1>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
          <a routerLink="/commedpp" class="pod">
          <img src="assets/hsps/pp.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
          <h1 class="fw-lighter text-center"><a routerLink="/commedpp" class="pod">Past Papers</a></h1>
      </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
            
        </div> <!--//row-->

        <div class="row">