
<div class="background">
    <div class="container">
        <h2  class="text-center header"> Praveen Sir's Bat Recordings</h2>
        <p class="para">Click Below Buttons to Download...</p>

        <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>
    
    <table class="table table-warning table-striped" id="use">
        <thead>
          <tr>
        
            <th scope="col" class="text-center">Video</th>
            <th scope="col" class="text-center">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href ="https://drive.google.com/uc?export=download&id=1r8RXs5BBxmASzrRdaKDYOBfGmSui3L9n" class="link-dark text-decoration-none">Case Presentation in Medicine</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" (click) = "todo()"><a class="link-dark text-decoration-none">Case Presentation in Medicine</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href ="https://drive.google.com/uc?export=download&id=1rA79yyf1bk_huJqoKgWDTkWnxv2HEyxw" class="link-dark text-decoration-none"> CVS Examination</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" (click) = "todo()"><a class="link-dark text-decoration-none">CVS Examination</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href ="https://drive.google.com/uc?export=download&id=1rD_vK5CyzAl2_5vhUBg8riXkD7cled9i" class="link-dark text-decoration-none">Rs Examination</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" (click) = "todo()"><a class="link-dark text-decoration-none">Rs Examination</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href ="https://drive.google.com/uc?export=download&id=1rEPa7gLXgRMRMcjtN-mW2iO1hwSZjc2n" class="link-dark text-decoration-none">Abdominal Examination</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" (click) = "todo()"><a class="link-dark text-decoration-none">Abdominal Examination</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href ="https://drive.google.com/uc?export=download&id=1rFjSR1zcDA-yqKXPqKqYMSpjBn2WdYUo" class="link-dark text-decoration-none">Cranial Nerves Examination</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" (click) = "todo()"><a class="link-dark text-decoration-none">Cranial Nerves Examination</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href ="https://drive.google.com/uc?export=download&id=1rHw0NsXWk9uLLZPlw6Gp7gcKhvhEyuzP" class="link-dark text-decoration-none"> Neurological Examination</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" (click) = "todo()"><a class="link-dark text-decoration-none"> Neurological Examination</a></button></td>
          </tr>
         
        </tbody>
      </table>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

