<div class="container-fluid" id="links">
    <h4 id="title">Click Here these Buttons to Download all the lectures/recordings as a Zip File</h4>
  <button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/uc?export=download&id=1oVEuP1rGiVIhrTJL53TK1BZViVMKUG8c" class="text-decoration-none text-light">Lecture Notes</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/file/d/1vWk5RR4sREJWDUKx4GOy-Q4LEqpt7P7v/view?usp=drive_link" class="text-decoration-none text-light">Lecture Recordings</a> </button>


  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" id="lst"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
      <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/neuro">Neurology</a></li>
      <li id= "list" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Other Modules
        </a>
        <ul class="dropdown-menu">          
            <li><a class="dropdown-item" routerLink="/neuro" >Neurology</a></li>
            <li><a class="dropdown-item" routerLink="/ophthalmology" >Ophthalmology</a></li>
            <li><a class="dropdown-item" routerLink="/rehab" >MSK & Rehab</a></li>
            <li><a class="dropdown-item" routerLink="/mentalhealth" >Mental Health</a></li>
            <li><a class="dropdown-item" routerLink="/" >Medicolegal 2</a></li>
            <li><a class="dropdown-item" routerLink="/repro" >Reproductive</a></li>
            <li><a class="dropdown-item" routerLink="/growth" >Growth and Development 2</a></li>
            <li><a class="dropdown-item" routerLink="/nutrition" >Nutrition</a></li>
            <li><a class="dropdown-item" routerLink="/geriactrics" >Geriactrics</a></li>
            <li><a class="dropdown-item" routerLink="/palliative" >Palliative care</a></li>
            <li><a class="dropdown-item" routerLink="/family" >Family Medicine</a></li> 
      </ul>
      </li>
  
    </ol>
  </nav>
  
  <ul class="nav justify-content-center" id="tabs">
    <li class="nav-item " id="lit2">
      <a class="nav-link active text-dark" aria-current="page" routerLink="/neuro">LECTURES</a>
    </li>&nbsp;
    <li class="nav-item" id="lit">
      <a class="nav-link text-light" routerLink="/neurobats">BATS(2017)</a>
    </li>
  </ul>

  <table class="table table-hover table-bordered border-dark" id="test">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Video</th>
       
      </tr>
    </thead>
    <tbody>
      <tr class="fade-in" >
        <th scope="row">1</th>
        <td>TIA & Stroke: Risk Factors and Clinical Syndromes & Management</td>
        <td class="td1"><a href="https://youtu.be/5IsRxeSleas"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">2</th>
        <td>Principles in Neurorehabilitation and Stroke Rehabilitation</td>
        <td class="td1"><a href="https://youtu.be/llNDfwhqMxo"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">3</th>
        <td>Disorders of the NMJ</td>
        <td class="td1"><a href="https://youtu.be/hGQT6mbPSsU"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">4</th>
        <td>Pathology of CVD</td>
        <td class="td1"><a href="https://youtu.be/VNhFaxodl6M"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">5</th>
        <td>Spontaneous intracranial haemorrhage</td>
        <td class="td1"><a href="https://youtu.be/U7CWnbT_M3M"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">6</th>
        <td>CNS Tumours</td>
        <td class="td1"><a href="https://youtu.be/ekn6ngKowZA"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">7</th>
        <td>Intracranial SOL</td>
        <td class="td1"><a href="https://youtu.be/o6SEUFLBCuI"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">8</th>
        <td>Head injury</td>
        <td class="td1"><a href="https://youtu.be/aCqh_a9FdVc"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">9</th>
        <td>Neuroradiology</td>
        <td class="td1"><a href="https://youtu.be/kZM5xYKtMNA"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">10</th>
        <td>Acute flaccid paralysis</td>
        <td class="td1"><a href="https://youtu.be/on4xdjkLuVk"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">11</th>
        <td>Non-compressive myelopathies</td>
        <td class="td1"><a href="https://youtu.be/y8DG2kWm20M"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">12</th>
        <td>Headache & Facial pain</td>
        <td class="td1"><a href="https://youtu.be/Pl_MHHLtqHo"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">13</th>
        <td>Memory disorders</td>
        <td class="td1"><a href="https://youtu.be/3Fxa3R3cNGM"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">14</th>
        <td>Peripheral neuropathies</td>
        <td class="td1"><a href="https://youtu.be/E134-NgHDAM"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">15</th>
        <td>Mononeuropathies</td>
        <td class="td1"><a href="https://youtu.be/_JCoFBrnbkE"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">16</th>
        <td>Tetanus</td>
        <td class="td1"><a href="https://youtu.be/EqtUljTinlk"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">17</th>
        <td>CNS Tuberculosis</td>
        <td class="td1"><a href="https://youtu.be/QHcppbKGsOs"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">18</th>
        <td>Autoimmune encephalitis</td>
        <td class="td1"><a href="https://youtu.be/AnSCwlirhd4"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">19</th>
        <td>Encephalitis in children</td>
        <td class="td1"><a href="https://youtu.be/DMQLgWpx8pY"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">20</th>
        <td>Movement Disorders</td>
        <td class="td1"><a href="https://youtu.be/YM9ZwKqeUnc"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">21</th>
        <td>Drugs in parkinson disease</td>
        <td class="td1"><a href="https://youtu.be/HivaklHyJ0A"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">22</th>
        <td>Motor neuron disease</td>
        <td class="td1"><a href="https://youtu.be/ihlk0XiHxEk"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">23</th>
        <td>Febrile seizures</td>
        <td class="td1"><a href="https://youtu.be/6jeM-66LMoA"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">24</th>
        <td>Speech disorders</td>
        <td class="td1"><a href="https://youtu.be/voYGnIGvtAo"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>

      <tr class="fade-in" >
        <th scope="row">25</th>
        <td>Pathology of CNS infections</td>
        <td class="td1"><a href="https://youtu.be/eSbRxkw_oJA"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>


      <tr class="fade-in" >
        <th scope="row">26</th>
        <td>Opioid analgesics</td>
        <td class="td1"><a href="https://youtu.be/IC70VeKOC6M"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>


      <tr class="fade-in" >
        <th scope="row">27</th>
        <td>General anaesthasia</td>
        <td class="td1"><a href="https://youtu.be/jeIfq502cy8"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>


      <tr class="fade-in" >
        <th scope="row">28</th>
        <td>Local anaesthasia</td>
        <td class="td1"><a href="https://youtu.be/aqQH4PYUoAM"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>


      <tr class="fade-in" >
        <th scope="row">29</th>
        <td>Anticonvulsive Drugs</td>
        <td class="td1"><a href="https://youtu.be/qUiW1kqMj28"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>    
      </tr>



      


    </tbody>
</table>

</div>
