
<div class="background">
    <div class="container">
        <h2  class="text-center header">Oncology BAT Notes</h2>
        <p class="para">Click Below Buttons to Download...</p>

        <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>
    
    <table class="table table-info table-striped" id="use">
        <thead>
          <tr>
        
            <th scope="col" class="text-center">Word</th>
            <th scope="col" class="text-center">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-info" (click) = "todo()"><a class="link-dark text-decoration-none"> Epidemiology social impact of cancer and screening and prevention</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info" (click) = "todo()"><a class="link-dark text-decoration-none"> Epidemiology social impact of cancer and screening and prevention</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Cancer diagnosis and staging: Histo pathology, cytology, tumor markers.
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Cancer diagnosis and staging: Histo pathology, cytology, tumor markers.
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Cancer diagnosis and staging: Imaging.
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Cancer diagnosis and staging: Imaging.
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Principles of cancer management – Surgery</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Principles of cancer management – Surgery</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Principles of cancer management – radiotherapy, medical therapy & immunotherapy
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Principles of cancer management – radiotherapy, medical therapy & immunotherapy
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Principles of palliative care and survivorship</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-info"(click) = "todo()"><a class="link-dark text-decoration-none">Principles of palliative care and survivorship</a></button></td>
          </tr>
     
        </tbody>
      </table>
    </div>
    </div>
    <br>
    <br>
