<div class="container-fluid g-0">
    <app-navbar (sideNavToggled)="sideNavStatus = $event;"></app-navbar>

    <main> 
        <app-mobiletabbar class="mobile-only"></app-mobiletabbar>
        <app-tabbar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"  class="non-mobile"></app-tabbar>
        <div class="display-area p-0" [ngClass]="{'display-area-shrink': sideNavStatus}">

            <router-outlet>
            </router-outlet>
            <app-footer></app-footer>
        </div>
    
   
    </main>
    
</div>




