<div class="container-fluid" id="links">
    <h4 id="title">Click Here these Buttons to Download all the lectures/recordings as a Zip File</h4>
  <button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/uc?export=download&id=175yFvVVWU5VXezukgRelZ8T40dErGloz" class="text-decoration-none text-light">Lecture Notes</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/uc?export=download&id=1mstwFCHY4L3G2h0xpHgW3Q_mDslpuawK" class="text-decoration-none text-light">Lecture Recordings</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/file/d/1C4e06lMbXzMm2wY7v9Ir7e6qdm1OsXMA/view?usp=drive_link" class="text-decoration-none text-light">Past Papers 2010-2017</a> </button>
  
  </div>

  <ul class="nav justify-content-center" id="tabs">
    <li class="nav-item ">
      <a class="nav-link active text-light" aria-current="page" routerLink="/mentalhealth">LECTURES</a>
    </li>
    <li class="nav-item"  id="lit">
      <a class="nav-link text-light" routerLink="/mentalhealthbats">BATS(2017)</a>
    </li>
  </ul>

  <div class="row" id="comp">
    <div class="col-4">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="/mentalhealthbats/#list-item-1">Adult</a>
        <a class="list-group-item list-group-item-action" href="/mentalhealthbats/#list-item-2">Child Psychiactrics</a>
      </div>
    </div>

    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="list-item-1">Adult</h4>

        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="th1">BAT</th>
                <th scope="col" class="th1">You-Tube</th>
              </tr>
            </thead>
            <tbody><tr>
                <td> Depressive disorders </td>
                 <td class="td1"><a href="https://youtu.be/YFeVD4gBBTs"><i  class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Bipolar disorders </td>
                 <td class="td1"><a href="https://youtu.be/CTcpVz_t_NE"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Schizophrenia </td>
                 <td class="td1"><a href="https://youtu.be/fr-t48HFR-s"><i  class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Anxiety Disorders & OCD </td>
                 <td class="td1"><a href="https://youtu.be/MSeT53UbLFQ"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Delirium </td>
                 <td class="td1"><a href="https://youtu.be/JH_ZI7jQIMY"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Drugs in Affective Disorders </td>
                 <td class="td1"><a href="https://youtu.be/dI_bKqZ1pT4"><i  class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Stress Related Disorders </td>
                 <td class="td1"><a href="https://youtu.be/PHD5gjdC21c"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Antipsychotic Drugs </td>
                 <td class="td1"><a href="https://youtu.be/EwbPBc46cyc"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Anxiolytics & Psychostimulants </td>
                 <td class="td1"><a href="https://youtu.be/0hwz3UcRspA"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Medically Unexplained Symptoms </td>
                 <td class="td1"><a href="https://youtu.be/lLh5Mu-z1Es"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Psychological Therapies </td>
                 <td class="td1"><a href="https://youtu.be/OtXlpliGcp8"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Eating & Sleeping Disorders </td>
                 <td class="td1"><a href="https://youtu.be/dZvsDiZTah4"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Sexual Disorders </td>
                 <td class="td1"><a href="https://youtu.be/i7r_Rl3eXxc"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Psychiatric Emergencies </td>
                 <td class="td1"><a href="https://youtu.be/JGLTM5n8TGQ"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Legal Aspects of Psychiatry </td>
                 <td class="td1"><a href="https://youtu.be/DBxmu6VWTc8"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Psychoactive Substance use </td>
                 <td class="td1"><a href="https://youtu.be/agtC-Bme2bs"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
 
 <tr>
                <td> Suicide & suicide prevention </td>
                 <td class="td1"><a href="https://youtu.be/tfiSy9qAmmI"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
 </tr>
          
            </tbody>
          </table>

          <h4 id="list-item-2">Child Psychiactrics</h4>



        <table class="table">
            <thead>
              <tr>
                <th scope="col"class="th2">BAT</th>
                <th scope="col"class="th2">You-Tube</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Developmental Disorders </td>
                     <td class="td1"><a href="https://youtu.be/NPxBqSsYNiM"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
     </tr>
     
     <tr>
                    <td> Emotional Disorders </td>
                     <td class="td1"><a href="https://youtu.be/yOltJdgfLyc"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
     </tr>

     <tr>
        <td> Behavioural Disorders </td>
         <td class="td1"><a href="https://youtu.be/If3-PQ6ZILg"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
        </tr>

        <tr>
            <td> Adolescent Mental Health & Child Abuse </td>
             <td class="td1"><a href="https://youtu.be/ndt1Q9ETovQ"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
</tr>
            </tbody>
          </table>

      
      </div>