
<div class="container col-12">
    <h2>MCQ Discussions</h2>
   
    
        <h2>1.CVS 1 by Nadith</h2>
        <h3>2023.05.21</h3>
        <iframe width="294" height="165" src="https://www.youtube.com/embed/WlCV7vAfucI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
        <button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1l-UG_Vh_7ZkpXaFgm9RtbMpIs7tK9yXJ"class="link-light text-decoration-none">Click here to Download the Note</a></button>
    
            
        <h2>2.CVS 2 & RS by Sasith</h2>
        <h3>2023.05.22</h3>
        <iframe width="294" height="165" src="https://www.youtube.com/embed/fadPCWCKmG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <br>
        <button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1YVdnPCgHalLEJwac1YpP65G00S6m1yTl"class="link-light text-decoration-none">Click here to Download the Note</a></button>
       
        <h2>3.RS by Arunaja</h2>
        <h3>2023.05.23</h3>
        <iframe width="294" height="165" src="https://www.youtube.com/embed/-STu6upUAWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <br>
        <button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1FEnzswawJ20CLYfiEc1TkLDX4ecrdWHM"class="link-light text-decoration-none">Click here to Download the Note</a></button>
    
        <h2>4.Nephro by Raleesha</h2>
        <h3>2023.05.24</h3>
        <iframe width="294" height="165" src="https://www.youtube.com/embed/yD0kxZJMwIU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <br>
        <button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=14hikGMmJyKGRhVhe44qo2G66sGyBD2xR"class="link-light text-decoration-none">Click here to Download the Note</a></button>
    
        <h2>5.NU & Trauma by CD</h2>
        <h3>2023.05.25</h3>
        <iframe width="294" height="165" src="https://www.youtube.com/embed/v2fdZYHFGYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1C9UHOuqwmqAXpruSRWaoNECoc__hZoiC"class="link-light text-decoration-none">Click here to Download the Note</a></button>
    
       <h2>6.Trauma by Chamika</h2>
       <h3>2023.05.27</h3>
       <iframe width="294" height="165" src="https://www.youtube.com/embed/u8cdeUjaR9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=16--K4HYh0dNgncw4qTk7NtBZclVFOVX8"class="link-light text-decoration-none">Click here to Download the Note</a></button>
   
    <h2>7.Endocrine by Nethmini</h2>
    <h3>2023.05.28</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/BVDT56iqhmY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 <br><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1QWdNQazSjo1QNX8rQkDGW_Ga6w7mCo5i"class="link-light text-decoration-none">Click here to Download the Note</a></button>

 <h2>8.GIT by Chamika</h2>
 <h3>2023.05.29</h3>
 <iframe width="294" height="165" src="https://www.youtube.com/embed/-spxFknyf1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br><button type="button" class="btn btn-primary"><a href="https://drive.google.com/uc?export=download&id=1wDpNvbkz0asyzD4596JuWUSh8mvidgWj"class="link-light text-decoration-none">Click here to Download the Note</a></button>

      
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    
    
    
    </div>
    