
<div class="background">
    <div class="container">
        <h2  class="text-center header">ENT BAT Notes</h2>
        <p class="para">Click Below Buttons to Download...</p>

        <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>
    
    <table class="table table-warning table-striped" id="use">
        <thead>
          <tr>
        
            <th scope="col" class="text-center">Word</th>
            <th scope="col" class="text-center">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=17p81beVxvVxhbT1KsoqD678SHKEndTyB" class="link-dark text-decoration-none">Deafness</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1d-okJSoiwsQD0qOhEzJFUoYknN3qoLrk" class="link-dark text-decoration-none">Deafness</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1Zoejvb5nEcWr4a-JRVmPWuGSXQmHJCJg" class="link-dark text-decoration-none"> Vertigo</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1q6JJcydcMDnrwjJC7NWKCARdytQnDfcl" class="link-dark text-decoration-none"> Vertigo</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1STAlIZKQCg5KjjdKAomiIkmOOjpNf0d1" class="link-dark text-decoration-none">Additional notes of vertigo</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1jQvt3A6QvjxUTEV3EhGQZEcMB-NHLLfr" class="link-dark text-decoration-none">Additional notes of vertigo</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1YuRA3EGY-Wp_LXyD21eRmzLZj58McYIL" class="link-dark text-decoration-none">Diseases of Larynx</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1uNMvkM01u0OjOidwpWTfH-GCToF-c4Sp" class="link-dark text-decoration-none">Diseases of Larynx</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1Qdb92bT-vPPo6EAjdModHSD2UGLXQAHv" class="link-dark text-decoration-none">Diseases of Pharynx</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1Oy--6D6TCWrSl5bnBiS9w0vGr4e336X8" class="link-dark text-decoration-none">Diseases of Pharynx</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1OgtW5fpAhxGBi6ycYaDDuQgrA0k3OWGX" class="link-dark text-decoration-none"> Epistaxus</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1xRJaLk09paYQ6uTdCpfhd5gwQOq01HP3" class="link-dark text-decoration-none"> Epistaxus</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1ps8QsfcMJJkn1HXuYFPIkWRsGh20qBF6" class="link-dark text-decoration-none">Otalgia</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1yobyDx663d7SpKjeNhqrcWdLdR7bniEr" class="link-dark text-decoration-none">Otalgia</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning"><a href="https://drive.google.com/uc?export=download&id=117u0248gSFKh7tHk8ygRfSwL9PiNTuwk" class="link-dark text-decoration-none">Otorrhea</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning "><a href="https://drive.google.com/uc?export=download&id=1NkNUS7aHyOMdNd5RVcid4bp-pM_GNjQq" class="link-dark text-decoration-none">Otorrhea</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1tQVcOKL_8Ui5y8FNnsyiA-XEJgujDi4z" class="link-dark text-decoration-none">Tinnitus</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-warning" ><a href="https://drive.google.com/uc?export=download&id=1JEXYb4tIJLwAITySrGlIPKYnHJbHebMk" class="link-dark text-decoration-none">Tinnitus</a></button></td>
          </tr>
         
         
        </tbody>
      </table>
    </div>
    </div>
    <br>
    <br>
