<div class="container-fluid" id="links">
    <h4 id="title" class="animated-title">Click Here these Buttons to Download all the lectures/recordings as a Zip File</h4>
  <button type="button" class="btn btn-dark" id="zip"><a href="" class="text-decoration-none text-light">Lecture Notes</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="" class="text-decoration-none text-light">Lecture Recordings</a> </button>
  
  
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-decoration-none" id="lst"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
        <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/nutrition">Nurition</a></li>
        <li id= "list" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Other Modules
          </a>
          <ul class="dropdown-menu">          
            <li><a class="dropdown-item" routerLink="/neuro" >Neurology</a></li>
            <li><a class="dropdown-item" routerLink="/ophthalmology" >Ophthalmology</a></li>
            <li><a class="dropdown-item" routerLink="/rehab" >MSK & Rehab</a></li>
            <li><a class="dropdown-item" routerLink="/mentalhealth" >Mental Health</a></li>
            <li><a class="dropdown-item" routerLink="/" >Medicolegal 2</a></li>
            <li><a class="dropdown-item" routerLink="/repro" >Reproductive</a></li>
            <li><a class="dropdown-item" routerLink="/growth" >Growth and Development 2</a></li>
            <li><a class="dropdown-item" routerLink="/nutrition" >Nutrition</a></li>
            <li><a class="dropdown-item" routerLink="/geriactrics" >Geriactrics</a></li>
            <li><a class="dropdown-item" routerLink="/palliative" >Palliative care</a></li>
            <li><a class="dropdown-item" routerLink="/family" >Family Medicine</a></li> 
        </ul>
        </li>
    
      </ol>
    </nav>
  
    <ul class="nav justify-content-center" id="tabs">
      <li class="nav-item ">
        <a class="nav-link active text-dark" aria-current="page" routerLink="/nutrition">LECTURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/nutritionold">AScS</a>
      </li>
      <li class="nav-item"  id="lit">
        <a class="nav-link text-light" routerLink="/nutritionbats">BATS(2017)</a>
      </li>
    </ul>

        
    <div class="row" id="comp">
        <div class="col-4">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="/nutritionbats/#list-item-1">Nutrition</a>
            <a class="list-group-item list-group-item-action" href="/nutritionbats/#list-item-2">Growth And Development</a>
          </div>
        </div>

        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <h4 id="list-item-1">Nutrition</h4>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="th1">BAT</th>
                    <th scope="col" class="th1">You-Tube</th>
                  </tr>
                </thead>
                <tbody>
                
                  <tr>
                   <td>Energy Metabolism</td>
                    <td class="td1"><a href="https://youtu.be/nyptzlzXNHE"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                  </tr>
                  <tr>
                    <td>Macronutrients</td>
                     <td class="td1"><a href="https://youtu.be/ATzuq1GK-5A"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Nutrition in infancy & Breastfeeding-1</td>
                     <td class="td1"><a href="https://youtu.be/tYMrxpgoirs"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Nutrition in infancy & Breastfeeding-2</td>
                     <td class="td1"><a href="https://youtu.be/SqBq_idRhwg"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Nutrition in infancy & Breastfeeding-3</td>
                     <td class="td1"><a href="https://youtu.be/nXJSvaltxj0"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Nutrition in pregnancy & lactation - 1</td>
                     <td class="td1"><a href="https://youtu.be/xa5YioaMuls"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Nutrition in pregnancy & lactation - 2</td>
                     <td class="td1"><a href="https://youtu.be/rl9wOu2OXt4"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Diet in cardiovascular disease & hyperlipidaemia</td>
                     <td class="td1"><a href="https://youtu.be/O-mqqGygu0M"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Diet in obesity, DM,GDM,PCOS</td>
                     <td class="td1"><a href="https://youtu.be/ZW0ZYduYCSM"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Dietary management of renal, hepatic diseases, cancer</td>
                     <td class="td1"><a href="https://youtu.be/eKXRrqozoBQ"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Malnutrition in childhood (Pediatric undernutrition & obesity)</td>
                     <td class="td1"><a href="https://youtu.be/LJhHyVW_un0"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                   <td>Vitamin A</td>
                     <td class="td1"><a href="https://youtu.be/VOhJt4BAA3I"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>

                
                 
                </tbody>
              </table>

              <h4 id="list-item-2">Growth And Development</h4>



            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"class="th2">BAT</th>
                    <th scope="col"class="th2">You-Tube</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>Normal growth & factors affecting it</td>
                    <td class="td1"><a href="https://youtu.be/jf_6wJV6rtE"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                  </tr>
                  <tr>
                    <td> Assessment of Growth</td>
                     <td class="td1"><a href="https://youtu.be/rJFknTgmHnY"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td> Abnormal Growth</td>
                     <td class="td1"><a href="https://youtu.be/Ft-Utn8pMjA"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td> Intro and gross motor domain</td>
                     <td class="td1"><a href="https://youtu.be/OPWIZIm-vK8"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td> Fine motor and language domain</td>
                     <td class="td1"><a href="https://youtu.be/MOS-RGvQoVg"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Principals of Development and Reflexes </td>
                     <td class="td1"><a href="https://youtu.be/k5aVK_NyUU4"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Social and cognitive development </td>
                     <td class="td1"><a href="https://youtu.be/HcecgZ1A4UU"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Puberty </td>
                     <td class="td1"><a href="https://youtu.be/GRxa9O0z4qM"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>
                   <tr>
                    <td>Developmental pharmacology </td>
                     <td class="td1"><a href="Developmental pharmacology"><i class="fa-brands fa-youtube fa-xl" style="color: #0c1e3b;"></i></a></td>
                   </tr>


                
                 
                </tbody>
              </table>

            
          
          </div>