<div class="container-fluid" id="links">
    <h4 id="title">Click Here these Buttons to Download all the lectures/recordings as a Zip File</h4>
  <button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/uc?export=download&id=1xCCrfN5bzbrPR0gQtdD6aXgAzIONsuNo" class="text-decoration-none text-light">Lecture Notes</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/uc?export=download&id=1VExUKtbJaV4rLZJFVIpKQ1SmmC9uJTuJ" class="text-decoration-none text-light">Lecture Recordings</a> </button>
  &nbsp;<button type="button" class="btn btn-success"id="zip" (click)="DownloadPDF()">Download the Lecture Topics As PDF</button>
  
  
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" id="lst"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
        <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/rehab">Rehabilitation</a></li>
        <li id= "list" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Other Modules
          </a>
          <ul class="dropdown-menu">          
            <li><a class="dropdown-item" routerLink="/neuro" >Neurology</a></li>
            <li><a class="dropdown-item" routerLink="/ophthalmology" >Ophthalmology</a></li>
            <li><a class="dropdown-item" routerLink="/rehab" >MSK & Rehab</a></li>
            <li><a class="dropdown-item" routerLink="/mentalhealth" >Mental Health</a></li>
            <li><a class="dropdown-item" routerLink="/" >Medicolegal 2</a></li>
            <li><a class="dropdown-item" routerLink="/repro" >Reproductive</a></li>
            <li><a class="dropdown-item" routerLink="/growth" >Growth and Development 2</a></li>
            <li><a class="dropdown-item" routerLink="/nutrition" >Nutrition</a></li>
            <li><a class="dropdown-item" routerLink="/geriactrics" >Geriactrics</a></li>
            <li><a class="dropdown-item" routerLink="/palliative" >Palliative care</a></li>
            <li><a class="dropdown-item" routerLink="/family" >Family Medicine</a></li> 
        </ul>
        </li>
    
      </ol>
    </nav>
  
    <ul class="nav justify-content-center" id="tabs">
      <li class="nav-item " id="lit">
        <a class="nav-link active text-light" aria-current="page" routerLink="/rehab">LECTURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/rehablms">LMS</a>
      </li>
    </ul>
  
    <table class="table" id="test">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">PDF</th>
          <th scope="col">Audio</th>
          <th scope="col">Video(if have)</th>
         
        </tr>
      </thead>
      <tbody>
  
        <tr class="fade-in" >
          <th scope="row">1</th>
          <td>Introduction</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1g01AahCqCoEoM6EAVJ3i5EFKmN6B0bbk/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">2</th>
          <td>Anatomy of MSK</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1QPfoFQBBncTrawClm7xLth79y0UHmN_M/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1fujRtC3JH7Emn5vEV1398AjhTPuR37ZC/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">3</th>
          <td>Principles of Rehabilitation</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1QNGqcD5VSD6f4cA9XkzsFLCJpds-zE5P/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">4</th>
          <td>Pain in the UL and Neck</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1QP49VQcj1hNid2s8JxhAWtE_39jkIEn1/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1bx4jFBNubpXlQf0mW1uXvV1z5WD5crO6/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">5</th>
          <td>Backache and LL Pain</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1QON_WndhIiGbIfmv4xYIVglCOvwl4th8/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1bx3bejzlyzHu5BwwljtHMGP_5gTuPjpe/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">6</th>
          <td>Rheumatoid Athritis</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1Mgm-5MQwGyzhlisfnohx0Gh2duGERCDq/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1bwCM4-SxijOQS8ckmupd_wrH5TjfBTsW/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">7</th>
          <td>Spondyloarthritis</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1QSB8JJANP_BdqN4Pn6PFVZdQLjQlXPtg/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1cVJI7h56XXJz97WVUdLyb_GTp3Aabm_l/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">8</th>
          <td>Joint disease in Children</td>
          <td class="td1"><a href="https://docs.google.com/presentation/d/1QvhVcYdxOwV8EVR_CKXAV-OgpZq3A7-7/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1d-zXrQGkSgavLesJcASZQYDGAFEQ4OmY/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">9</th>
          <td>Gout And Crystal Induced Arthritis</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1ctV2noFXXPVqNWh_c0aeT5814jLryZBK/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">10</th>
          <td>SLE</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1R16Dsa67Ez1qilH0knBNuWSkpHXMnQSO/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1fNqhMv4cqgigG-D78huOfgeuHhUXWSnQ/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">11</th>
          <td>SS, MCTD and Overlap</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1fTaBi81HdD1up4ZlIioXZtvGBPG14_lG/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">12</th>
          <td>Multi-systemic diseases</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">13</th>
          <td>Psychological Isuues in MSK</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1fVObQejeaeD_Au76x2mX0RjgjE2CEibe/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">14</th>
          <td>Approach to Bone and joint infection</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/12tDGc6YG1gqrLSjarxKpkYAnGyLfcQaf/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">15</th>
          <td>MSK Diseases in Children </td>
          <td class="td1"><a href="https://drive.google.com/file/d/1MfzrGECo-vhgoLzY5ETfzQSyWkA3gfZu/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1hGGXga3--OwWm9L4vzlzbJbDYMz9X2jb/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">16</th>
          <td>Locomotor System Pathophysiology</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1hHVEAqwlD6RcWOV_w70w_3S8l26B1pYl/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">17</th>
          <td>Cervical And Lumbar Spondylosis</td>
          <td class="td1"><a href="https://docs.google.com/presentation/d/1Q_nButkzYiyYQTkBeHoU__MUATRfmXfO/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/12wQXIHLo9_HI_3QF7aSEO5ghXIN49eA7/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
        <tr class="fade-in" >
          <th scope="row">18</th>
          <td>Osteoarthritis and Osteoporosis</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1M_XZk3xTAgiHVxQQnT1ll-6ARvLAyElO/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1hEKbdLXZEuM02lZuomATC-EUsMQDtv7b/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">19</th>
          <td>End Stage Joint Diseases - management</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/12kE3KVpjUINegD3C-j8k3dfhB-P0z-Tm/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">20</th>
          <td>Spinal Cord Injury</td>
          <td class="td1"><a href="https://docs.google.com/presentation/d/1Qaqf4-VoqdKzo3M04sI6j6PCdn9e_4Y_/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/13b1jPotnrbcQxOLhuxFS7d56d4ouXYHs/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">21</th>
          <td>Vascultis</td>
          <td class="td1"><a href="https://drive.google.com/file/d/1RHCj0AXkJm6diLlKYzMy4hc5fxvGIPWO/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1jLjOv2js9qZQVFh-M1lWk1-56SAsZASJ/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
  
  
        <tr class="fade-in" >
          <th scope="row">22</th>
          <td>Maintain MSk Health by Exercise</td>
          <td class="td1"><a href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-xl" style="color: #8c182f;"></i></a></td>
          <td class="td1"><a href="https://drive.google.com/file/d/1jSYKURSU15HZ0DgONa7n1cIp2q4XCii9/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-xl" style="color: #043c20;"></i></a></td>
          <td class="td1"><a href=""><i class="fa-sharp fa-solid fa-file-video fa-xl" style="color: #140296;"></i></a></td>      
        </tr>
      </tbody>
    </table>
  


