<div class="background">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" id="lst"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
          <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/css2medico">CSS 2 - Medicolegal</a></li>
    
        </ol>
    
        <p class="paragraph">Please click on the icons to view relavant component</p>
      </nav>
    
    
    
    <div class="container">
        <div class="row">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">11.Asphyxia</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1xUHDIgFeEYiDK251Tlh2NdycXPdOxJSz/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1weY9OOa4b87N2ZNJAk8La6pevusk1UR0/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1Q1CO2awqGQpv2QTBy3Y4fb_WhPSmhiNm/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
    
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">12.Firearm and Explosive injuries</h3>
                        <p>1.<a class="tds" href="https://drive.google.com/file/d/1eMGDJgIDmgeS5Hpd2AYYsopbvIzUDKN8/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                           2. <a class="tds" href="https://drive.google.com/file/d/1GgBVtk6OGAJQ68esAnQ4RKobOvHcCxD8/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1JeoVqVEHEekQQwZcuK6UK3RLyhQMi_Nr/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/15DUO_KjWVurcwitWbZxbAxSBpFPfWMfO/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                       </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">13.Role of an expert witness</h3>
                        <p><a class="tds" href="https://docs.google.com/presentation/d/1_up-j_GMebIxPFdCRVZgJAgn4pfJ4swe/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1JgCTfI6xw68H0yssayZM5VGAX-MEL3tN/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">14.Head Injuries</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1NYz7eUM0NBgePaKffm5D8tY82fFWJosZ/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1yqATxnPewGIQBNNdhIwCHWg77O6dP4DT/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1MJHDTw2yFW-LnVVfdvpYxCKmkuzMR_1b/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">15.Vehicular trauma and trasportation deaths</h3>
                        <p><a class="tds" href="https://docs.google.com/presentation/d/1UR_tLXalDzKAmqTTtPfQ24ENK3aQl-yR/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1yaWoCi5arRt3bhuCDfeARglyzilLtMaV/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1cllwkFKIj84HfLvlL7A3N4V7mFhNBncX/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">16.Sudden natual deaths</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1JFyrf42keZ_OweDzgbmdji81FEL0Ad3r/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1zU00an0O8jScgbz5RgKEo74UJvj_d2ua/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1LVhK39Udv2PxVBHUrASxIeX4S-Ib3eyi/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">17.Examination and reporting of victims of torture</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1uhmFW1bugaGtl0kufmz7eNXdV-m3LEUf/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1zYBREBdylvJkmA10Y30j0C1b9F4xp8Fp/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1WQ1bQrS6jCaq_ZAAEDgJ3l-UzfxUGbSf/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                         </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">18.Burns and Investgation of a burnt body</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1YKL1Ok0UKcCOrmIZhZIA13c35hBXV4wZ/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1zfzs5euuhair4uWkf4YMSTFVyr0aTzvp/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1RlYUuDoIu2U-Y-PQz3yRs4UcLZFO1Cbf/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">20.Medico-legal aspect of child abuse</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/19Qsz0isR4OXhdOYuMp_3Wr9zXLGrMMU6/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1Fq1iqgBYNd_FMqDkeTTi5orSd9MnyWfQ/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1dd1B6olgm0lWs-y1d93uXFT4gxa69VTz/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                         </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">22.Drowning and Immersion</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1U_aQXXbY1BE_XuMwhrc6pPzueb52Yllg/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1FldPg5XUGiTkpG5wtlcVoFmT1d8FueSW/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1aiKemtpH0kEhmKgJp0qQ58rWUsDGLNx9/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">23.Sexual Offences</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1mKAlk1vREq0Bmj7gnmawx5OInb46Jg0o/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        Law.<a class="tds" href="https://drive.google.com/file/d/1ubdrCIpTbh6uHcoFEW9I82DppDcjNFJA/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        1.<a  href="https://drive.google.com/file/d/10H_IR_McFVVq5pQCvi1rnj1a4WbSSqtT/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        2.<a  href="https://drive.google.com/file/d/10ITDpANWllCUxQUL952x4JKmhPL69bA3/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1l6-wNh41zzJl-jBlzR7eggoCS83I6i32/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">24.Medico-legal aspect of abortion</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1onoAaBmLI05WVDZs73rkAW6aFO9hlVve/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/10LmcHBzFwDllMXGPwtfE-QXSnt-H-Jey/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                     </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">25.Sample collection and value of chain of custody</h3>
                        <p><a class="tds" href="https://docs.google.com/presentation/d/1vvlAolx2FpyjHl19Mdeh0qtbfWkVwMto/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1qteqJyDyZ1mT0nq-PsCK9ZC4RHkYsRVu/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">26.Identification of living and dead</h3>
                        <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1Bd3d32DSQBezSgFCOq_1ldk1G1PgVX-O/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">27.Forensic Toxicology</h3>
                        <p><a class="tds" href="https://docs.google.com/presentation/d/1ntXpHCvrbIvkCxLePv1--b6LyknSnDfg/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/11h8hnB8zzbrw5Iyahbs5ipLLdlY4MFoG/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                         </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">28.Investgation of Maternal Deaths</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1p7bF9Wbbk8DHWeBUgovn4zQOuCoCsl00/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1GxVwetAi6nPzDNZ21ExHf1g_nVZl4xpQ/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1XkFiLMjGBK2jEdGXW6wDBYSJxwPZmcnH/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                       </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">29.Investgating a death of an infant</h3>
                        <p><a class="tds" href="https://docs.google.com/presentation/d/1W33K7zhZXgFjhdvH9bHfmMwvMjo3D2IU/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1GxMqxd2EficBypkCokNyrl6xmFKwDq1O/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1QmkO9EzH2dZCpBXgot4ICEISjleMLn50/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                       </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">30.Examination and reporting of drunkenness</h3>
                        <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        Guidline    <a class="tds" href="https://drive.google.com/file/d/1auqhqWQhQcitxfopOH3tH5FOle7u2pno/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/1GxHtTyISmYkKybU5v8pN0qiKdXTRBczY/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1bnm9VEKh8a1jGs0DmomeOrmcDQJxxoUM/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                      </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">31.DNA in forenisc practice</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1P_JUTyQPHvzrNp5HWyYNLQL6MrWkeFMI/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/11hEgf5E_DOmDE2wc_sWtaV-OoRzochKE/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1GFo1f12zKo8wsRXTLQuaX0C6Q_XP8W58/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                     </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">32.Medical negligance</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1dThPI76RwARGy5-EVqJZaGYrz_IN9746/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href="https://drive.google.com/file/d/11l678VoxqScc68LlGGWM6ILFvJ3Jcp8n/view?usp=drive_link"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1YGweNUvbBvZxvuZleXH9N53sLgPXJJVa/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">33.Mass disaster and basics DVI</h3>
                        <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://drive.google.com/file/d/1I9Fwfy5Dtidm5tiTAdfJd-ggcTXRd9iT/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                        </p>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">34.Death in custody</h3>
                        <p><a class="tds" href="https://drive.google.com/file/d/1392z4JxBm4QTtH9Zw4gTMfc98oAKBUku/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                        <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                       </p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    