<div class="container-fluid" id="links">
    <h4 id="title">Click Here these Buttons to Download all the lectures/recordings as a Zip File</h4>
  <button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/uc?export=download&id=1amZWqz3fvaf8yPtn_o4BXbXsPQCoSnqV" class="text-decoration-none text-light">Lecture Notes</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/file/d/1rGZdrJN68lcrQKp5NVWriT8iB2QP8hiE/view?usp=drive_link" class="text-decoration-none text-light">Lecture Recordings</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/file/d/1I-2rfIcQj-1H0LAcG5tzVpj75Lzzds_L/view?usp=drive_link" class="text-decoration-none text-light">Past Papers 2010-2017</a> </button>
  &nbsp;<button type="button" class="btn btn-success"id="zip" (click)="DownloadPDF()">Download the Lecture Topics As PDF</button>
  


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" id="lst"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
      <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/ophthalmology">Ophthalmology</a></li>
      <li id= "list" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Other Modules
        </a>
        <ul class="dropdown-menu">          
            <li><a class="dropdown-item" routerLink="/neuro" >Neurology</a></li>
            <li><a class="dropdown-item" routerLink="/ophthalmology" >Ophthalmology</a></li>
            <li><a class="dropdown-item" routerLink="/rehab" >MSK & Rehab</a></li>
            <li><a class="dropdown-item" routerLink="/mentalhealth" >Mental Health</a></li>
            <li><a class="dropdown-item" routerLink="/" >Medicolegal 2</a></li>
            <li><a class="dropdown-item" routerLink="/repro" >Reproductive</a></li>
            <li><a class="dropdown-item" routerLink="/growth" >Growth and Development 2</a></li>
            <li><a class="dropdown-item" routerLink="/nutrition" >Nutrition</a></li>
            <li><a class="dropdown-item" routerLink="/geriactrics" >Geriactrics</a></li>
            <li><a class="dropdown-item" routerLink="/palliative" >Palliative care</a></li>
            <li><a class="dropdown-item" routerLink="/family" >Family Medicine</a></li> 
      </ul>
      </li>
  
    </ol>
  </nav>



<div class="container">
    <div class="row">
                    <div class="card" style="width: 18rem;">
                            <div class="card-body">
                            <h3 class="card-title">Intoduction to Ophthalmology and Eye Examination</h3>                           
                            <p><a class="tds" href="https://drive.google.com/file/d/1vOqgeBPT9pmJQY2SqRVOEKmdoZuZQOKE/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                                <a  href="https://drive.google.com/file/d/1Z9PfZPrzY90JIGRP4u45yKQf-_e9GVU3/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                                <a  href="https://drive.google.com/file/d/1ad58EITL5oVh_glElitK4rl19su8R4H0/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                               <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-2" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                            </div>
                    </div>
           

            
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h3 class="card-title">Cataract</h3>                           
                        <p><a class="tds" href="https://docs.google.com/presentation/d/1sDn4gRsLYMZXmbmb6M5SM8MK5ccvX7vt/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                            <a  href="https://drive.google.com/file/d/1-4BNnDP-8XrprsGz4EQ2-e1mvwEWWI1J/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                            <a  href="https://drive.google.com/file/d/1GPTFBUQnJU_Cw6Q4juzwJKayqk3ceI5R/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                           <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-3" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                        </div>
                </div>
       
            

         
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h3 class="card-title">Glaucoma</h3>                           
                    <p><b>Old</b><a class="tds" href="https://docs.google.com/presentation/d/1cn46qD6Ld2x_AWMyTmiS3r-H3TsQ5Bxx/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                        <a  href="https://whatsapp2018.netlify.app/"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                        <a  href="https://whatsapp2018.netlify.app/" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                       <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-4" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h3 class="card-title">A patient with sudden loss of vision</h3>                           
                <p><a class="tds" href="https://docs.google.com/presentation/d/18PmAGG1N2MC5Qlfqwyci_4_0Fpq3TtHu/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <b>1.</b><a  href="https://drive.google.com/file/d/1dL_COpY0SKRLy8mEh0jTy88_8ZhifkZe/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>                   
                    <b>2.</b><a  href="https://drive.google.com/file/d/1dHrilvv6gPGk4c-nysn5V1tBmsdI6WPa/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>                 
                    <br><br><a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                   <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-5" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                </div>
        </div>


        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h3 class="card-title">Diabetic Retinopathy</h3>                           
            <p><a class="tds" href="https://drive.google.com/file/d/18p6dHDfTIn0pgfO8tLxEl81pjA1kVffB/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                <a  href="https://drive.google.com/file/d/1yaG4ZLyLvwoo2u2S1KeqLx_yqEubuC5X/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                <a  href="https://drive.google.com/file/d/1UJMz6zBVZpwBWysi1mHV1Man4rvZTXOd/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
               <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-7" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
            </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h3 class="card-title">A patient with Ptosis,Diplopia and squint</h3>                           
        <p><a class="tds" href="https://drive.google.com/file/d/1QTH45DXecoAMu35gHaQBl35oF1SiQhYU/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
            <a  href="https://drive.google.com/file/d/1yb7MWi6td85A-P1w68eAHWFxm3JLDAOk/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
            <a  href="https://drive.google.com/file/d/1mpNgtsGFjNqV6MvJWHmweca2Etbhh7iH/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
           <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-8" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
        </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h3 class="card-title">A aptient with trauma to eye</h3>                           
    <p><a class="tds" href="https://drive.google.com/file/d/1bFd-eYe_CEckaU158_mFhfYMak_9BMbw/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
        <a  href="https://drive.google.com/file/d/1z3FVV-a7uCE_hxRiTR7f_qMc4ZmbEL1P/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
        <a  href="https://drive.google.com/file/d/1Utdd_7yMKsxIMu1O5iYkwVy8pziH-k-U/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
       <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-9" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h3 class="card-title">Carnea and refractive errors</h3>                           
    <p><a class="tds" href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
        <a  href="https://whatsapp2018.netlify.app/"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
        <a  href="https://drive.google.com/file/d/1BPcPdlkTwCAIlYd8WLa44YRbX28MJ8Yy/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
       <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-10" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h3 class="card-title">Systemic diseases Affecting the Eye</h3>                           
    <p><a class="tds" href="https://whatsapp2018.netlify.app/"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
        <a  href="https://whatsapp2018.netlify.app/"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
        <a  href="https://whatsapp2018.netlify.app/" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
       <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-12" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h3 class="card-title">Pediactric eye Disorders</h3>                           
    <p><a class="tds" href="https://drive.google.com/file/d/1YkIJQXKWjCy9uNBbOVzx-xjGjWqbcEMZ/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
        <a  href="https://drive.google.com/file/d/14No1V9B8LPU1WqpTdOFXj8FACbHpKHOe/view?usp=drivesdk"><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
        <a  href="https://drive.google.com/file/d/1vl2CK-6Vvo9GZkpF4-Oy9bLvKgZ3toJD/view?usp=drive_link" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
       <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-13" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h3 class="card-title">Skills Session</h3>                           
    <p><a class="tds" href="https://docs.google.com/document/d/1attMgmK3EdAkPzxf0F1fnkud_sUYr3JA/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>   
        
       <a  href="https://lms.medicine.cmb.ac.lk/course/view.php?id=1267#section-14" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </div>
    
    </div>


   
            
        </div>
    </div>
