<ul class="nav justify-content-center" id="tabs">
    <li class="nav-item "  id="lit">
      <a class="nav-link active text-light"routerLink="/commedstatistics" >STATISTICS</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link text-dark" routerLink="/commedresearch">RESEARCH</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/commedfap">FAP</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link text-dark" routerLink="/commedhome">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/commedacm">ACM</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-dark" routerLink="/commedpp">PAST-PAPERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/commedbats">BATS</a>
      </li>
  </ul>

  <div class="button1">
    <h4>Notes</h4>
  <button type="button" class="btn btn-primary"><a href="https://drive.google.com/drive/folders/1-ieKYhIMu6UQ5PpddusJf0aJSOBs6X7C?usp=drive_link" class="text-decoration-none text-light"> Demography</a></button> &nbsp;
  <button type="button" class="btn btn-success"><a href="https://drive.google.com/drive/folders/1-qLiwzGNSV3nQH-YSSz2MnGhG8NYeelK?usp=drive_link" class="text-decoration-none text-light"> Statistics</a></button> &nbsp;
  <button type="button" class="btn btn-danger"><a href="https://drive.google.com/drive/folders/1-kIGDDfyyrNwrUCaxJ-FaZW9QZOw8i2X?usp=drive_link" class="text-decoration-none text-light"> Epidemiology</a></button>
</div>


  <div class="container">
    <h4 id="head">BATS by 2017</h4>

  <div class="row" id="comp">
    <div class="col-4">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="/commedstatistics/#list-item-1">Statistics</a>
        <a class="list-group-item list-group-item-action" href="/commedstatistics/#list-item-2">Demography</a>
        <a class="list-group-item list-group-item-action" href="/commedstatistics/#list-item-3">Epidemiology</a>
      </div>
    </div>

   

    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="list-item-1">Statistics</h4>

        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="th1">BAT</th>
                <th scope="col" class="th1">You-Tube</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>Statistics -Tharushi</td>
                 <td class="td1"><a href="https://drive.google.com/file/d/19JOCKNo-SdOWyplcbwHH74yBgFKSeDmj/view?usp=drive_link"><i class="fa-brands fa-google-drive fa-xl" style="color: #8c182f;"></i></a></td>
               </tr>
            
              <tr>
               <td>Statistics - Pruthuvi Ayya</td>
                <td class="td1"><a href="https://youtu.be/nTZAwqUJ4-U"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
              </tr>
        
             
            </tbody>
          </table>

          <h4 id="list-item-2">Demography</h4>

        <table class="table">
            <thead>
              <tr>
                <th scope="col"class="th2">BAT</th>
                <th scope="col"class="th2">You-Tube</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               <td>Introduction to demography</td>
                <td class="td1"><a href="https://youtu.be/E0t50Aelpys"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
              </tr>
              <tr>
                <td>1.Mortality and fertility decline in Sri Lanka<br>
                    2.Current population changes & their implications on health<br>
                    3.Collection of Vital Statistics & Vital Registration System
                    </td>
                 <td class="td1"><a href=""><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
               </tr>

            </tbody>
          </table>

          <h4 id="list-item-3">Epidemiology</h4>

          <table class="table">
              <thead>
                <tr>
                  <th scope="col"class="th2">BAT</th>
                  <th scope="col"class="th2">You-Tube</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>Epidemiology by Tharushi             </td>
                 <td class="td1"><a href="https://drive.google.com/file/d/11gPaSkSeKg4gHDetU63q2yK1aFWA1GXp/view?usp=drive_link"><i class="fa-brands fa-google-drive fa-xl" style="color: #8c182f;"></i></a></td>
               </tr>
               <tr>
                <tr>
                 <td>1. Introduction to epidermiology & Measures of disease frequency                </td>
                  <td class="td1"><a href="https://youtu.be/mh-zjzgiqmA"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
                </tr>
                <tr>
                    <td>2. Incidence and prevalence                    </td>
                     <td class="td1"><a href="https://youtu.be/892B1pU7gRI"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
                   </tr>
                   <tr>
                    <td>3. Epidemiological Study Designs & Descriptive studies</td>
                     <td class="td1"><a href="https://youtu.be/sSu9dby0OcQ"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
                   </tr>
                   <tr>
                    <td>4. Analytical - Cohort studies</td>
                     <td class="td1"><a href="https://youtu.be/NvvtMNESY9g"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
                   </tr>
                   <tr>
                    <td>5. Analytical - Case control studies</td>
                     <td class="td1"><a href="https://youtu.be/urP7gzcP0D8"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
                   </tr>
                   <tr>
                    <td>6. Analytical - Cross sectional designs and Chi Square Test</td>
                     <td class="td1"><a href="https://youtu.be/ux-1jUP9ZpQ"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
                   </tr>
                   <tr>
                    <td>7. Experimental study designs</td>
                     <td class="td1"><a href="https://youtu.be/4jETPJXAbxs"><i class="fa-brands fa-youtube fa-xl" style="color: #8c182f;"></i></a></td>
                   </tr>
  
              </tbody>
  
  
  
  
            </table>
      </div></div>