

<div class="jumbotron big-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center">Clinical Appoinments..</h1>
            </div>       
        </div>

        <div class="row">
            <p id="para2">Please Upload Your Clinical Materials Using below link<br>Eg :- Create Folder For appoinment within your clinical group folder and upload</p>
        </div>

        <div class="row">
            <button type="button" class="btn btn-warning"><a class="link-dark text-decoration-none" href="https://drive.google.com/drive/folders/1nbHukzoAGVWHZu1vxBdH53h4VUlHIFtV?usp=drive_link">Click here</a> </button>
        </div>
    <br>

        <div class="row">
            <p id="para">Please use below drive links to see the materials of our short appoinments...</p>
        </div>

       
        <div class="row"> 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1TTNtPoQ_-WaTsgTFBX2sMeRyWKi_75F6?usp=share_link" class="pod">
                    <img src="assets/clinical/AS.jpg" class="mx-auto d-block img-fluid border border-dark" alt="AS" height="350px" width="350px" id="image" >
                </a>
            
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
            <a href="https://drive.google.com/drive/folders/1bqXe0ovzDA-_4pq1XsP_9T-Bz1cUsYkG?usp=share_link"class="pod">
                <img src="assets/clinical/Anaesthesia.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Anaesthesia" height="500px" width="350px">
            </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
            <a href="https://drive.google.com/drive/folders/1cjcF1FUw-UtznjGhrqPahl_TB7T_TThn?usp=share_link"class="pod">
                <img src="assets/clinical/BB.jpg" class="mx-auto d-block img-fluid border border-dark" alt="BB" height="450px" width="350px">
            </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
            <a href="https://drive.google.com/drive/folders/1_x_0PdJX4KiQF4wT9WACT61X9RS2KOHD?usp=share_link"class="pod">
                <img src="assets/clinical/cardiology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="cardiology" height="350px" width="350px">
            </a>
               
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1FrUQ5wxObNALcgXqUzuk8XTcre9sfNg9?usp=share_link"class="pod">
                <img src="assets/clinical/dermatology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="dermatology" height="350px" width="350px">
                </a>
                
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/10N6HDvTrzTRluY-VG33fj5Ge5jHxSTaN?usp=share_link" class="pod">
                <img src="assets/clinical/ENT.jpg" class="mx-auto d-block img-fluid border border-dark" alt="ENT" height="350px" width="350px">
                </a>
            </div>
    
        </div> <!--//row-->
        <div class="row">
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1ddcyxeHs9h_PpergvBTBNeYPuvp8Mxx-?usp=share_link"class="pod">
                <img src="assets/clinical/labs.jpg" class="mx-auto d-block img-fluid border border-dark" alt="labs" height="350px" width="350px">
                </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1NrNhl4aJqolU-B8wVxTXZonU0PxLRMP9?usp=share_link"class="pod">
                <img src="assets/clinical/nephrourology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="nephrourology" height="250px" width="350px">
               </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/15ver_oGMEEmmzWvdTPsyKNh9eUXtYEo4?usp=share_link"class="pod">
                <img src="assets/clinical/oncology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="oncology" height="350px" width="350px">
                </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1u-I30GiMq3yjLdPBTKzafulUZCW_N8Vt?usp=share_link"class="pod">
                <img src="assets/clinical/opthalmology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="opthalmology" height="350px" width="350px">
                </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1aTHXkTy4Foi4mhgn9-_xJ9xGZG-s3vxH?usp=share_link"class="pod">
                <img src="assets/clinical/orthopaedic.jpg" class="mx-auto d-block img-fluid border border-dark" alt="orthopaedic">
                </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1DviX5g_dIk9Wp7hP_Z68bH3VQRvPptNA?usp=share_link"class="pod">
                <img src="assets/clinical/pulmonology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="pulmonology" height="350px" width="350px">
                </a>
            </div>
    
        </div><!--//row-->
    
        <div class="row">
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1cARmhCgfA8xlpTkZq_cdCpZYxMLacIK6?usp=share_link"class="pod">
                <img src="assets/clinical/radiology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="radiology">
               </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/drive/folders/1az4ri5LIGdQ27fctz96Klkm5eyazTaSR?usp=share_link"class="pod">
                <img src="assets/clinical/STD.jpg" class="mx-auto d-block img-fluid border border-dark" alt="STD" height="350px" width="350px">
                </a>
            </div>
    
            
        </div>
    
    
    
    
    </div><!--//container-->
</div>
