

h1{
    margin: 5px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-style: bolder;
    border: palevioletred;
}

img{
    height: 150px;
    width: 250px;
    margin-top: 19px;
    margin-bottom: 19px;
}

.image :hover{
    background-color: antiquewhite;

}

.big-banner{
    background-color: rgb(52, 52, 225);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
    margin-left: 0;
}

.pod{
    color: aliceblue;
    text-decoration:none;
    text-indent: 5px;

    
}

.pod:hover{
    color:brown;
    
}

#para{
    color: aliceblue;
    background-color: darkmagenta;
    padding: 0.5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#para2{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
