<div class="background">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" id="lst"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
          <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/css1medico">CSS 1 - Medicolegal</a></li>
      
        </ol>
      </nav>
    
      <h3>1.Lecture Notes</h3>
      
    <button type="button" class="btn btn-dark" ><a routerLink="/css1videos" class ="link-light text-decoration-none">Click Here</a></button>
    
    
    <h3>1.Lecture Audioes and Videos</h3>
      
    <button type="button" class="btn btn-dark" ><a href="https://drive.google.com/file/d/1oFcw_TUlQriFsWMMQBEW3FBQ0oRk7RVe/view?usp=drive_link" class ="link-light text-decoration-none"> Click Here </a></button>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    </div>