<ul class="nav justify-content-center" id="tabs">
    <li class="nav-item"  id="lit">
      <a class="nav-link text-light" routerLink="/hsps1">HSPS 1</a>
    </li>
      <li class="nav-item ">
        <a class="nav-link active text-light" aria-current="page" href="https://drive.google.com/file/d/1bhahUd6j-w4H4wwf-roRz3AS_ki06N7p/view?usp=drive_link">HSPS 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/hsps3">HSPS 3</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-light" routerLink="/hspshome">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/hspspp">PAST-PAPERS</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link text-light" routerLink="/hspsbats">BATS</a>
        </li>
    </ul>




<div class="container">
    <button type="button" class="btn btn-success">
        <a href="https://drive.google.com/drive/folders/17D3TpFm1e8eTKBkvVy_oWfY5rsnrqvaU?usp=drive_link" class="text-decoration-none text-light">HSPS 1 1st Year</a></button>
    
        <button type="button" class="btn btn-success">
            <a href="https://drive.google.com/drive/folders/1Q3mWdZDxTIDIbPjOXex5ZVy91w6dt3P0?usp=drive_link" class="text-decoration-none text-light">HSPS 1 2st Year</a></button>
    

    </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>