<div class="container-fluid col-12">

    <h2>Medicolegal MCQ Discussion 1 by Chamika</h2>
    <h3>2023.09.10</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/aciGYQDLVBA?si=WZyTy9UnulIVwR3k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/file/d/1pauEVr9JB6KqYwaR3flnpt-vWdqAohLm/view?usp=drive_link"class="link-light text-decoration-none">Click here to View the Note</a></button>

    <h2>Medicolegal SEQ Discussion 1 by Bombuwela</h2>
    <h3>2023.09.12</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/DKQQLa5k9Ok?si=iIJeq9vAf5m6RMwv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/file/d/1ZyGytcng-1CxSIyhyBZb4IclIlrWnX6c/view?usp=drive_link" class="link-light text-decoration-none">Click here to View the Note</a></button>

    <h2>Medicolegal SEQ Discussion 2 by Tharushi</h2>
    <h3>2023.09.13</h3>
    <iframe width="294" height="165" src="https://www.youtube.com/embed/la69eowoC-E?si=aITeTDWXdEe7lWEo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
    <button type="button" class="btn btn-success"><a href="https://drive.google.com/file/d/1Q-0RG39F5b6POcljY6RhjkdoiykcYMAh/view?usp=drivesdk" class="link-light text-decoration-none">Click here to View the Note</a></button>

</div>
