
<div class="background">
    <div class="container">
        <h2  class="text-center header">Dermatology BAT Notes</h2>
        <p class="para">Click Below Buttons to Download...</p>

        <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>

        <br>
<br>
        <p class="para">Download the whole Dermatology Bat document</p>
        <button type="button" class="btn btn-dark backbtn"><a href="https://drive.google.com/uc?export=download&id=1W5KWlS3VcoQ2onkRZDJP2Gn252Goo35_" class ="link-light text-decoration-none" >Click here to Download</a></button>

    
    <table class="table table-danger table-striped" id="use">
        <thead>
          <tr>
        
            <th scope="col" class="text-center">Word</th>
            <th scope="col" class="text-center">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger" ><a href = "https://drive.google.com/uc?export=download&id=1PKnjy5wnOvND3zUKSzBPX-iLJUUz9rum" class="link-light text-decoration-none"> Introduction to Dermatology</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger" (click) = "todo()"><a class="link-light text-decoration-none"> Introduction to Dermatology</a></button></td>
          </tr>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger" ><a href = "https://drive.google.com/uc?export=download&id=1WqBu3YOglYvSzb7p-kCPOsRCrmbVsY5x" class="link-light text-decoration-none"> Leprosy and other bacterial infections</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger" (click) = "todo()"><a class="link-light text-decoration-none"> Leprosy and other bacterial infections</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1PKnjy5wnOvND3zUKSzBPX-iLJUUz9rum" class="link-light text-decoration-none">Viral Skin infection and Exanthems
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Viral Skin infection and Exanthems
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1WDO2R9K6FF3XmGLe7Wr3kBFJyVex0y1Z" class="link-light text-decoration-none">Fungul Skin Infections
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Fungul Skin Infections
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1PSVKziHNUbkRW9_aP9I21mT-HSW4r7U-" class="link-light text-decoration-none">Parasitic skin infections
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Parasitic skin infections
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1PSVKziHNUbkRW9_aP9I21mT-HSW4r7U-" class="link-light text-decoration-none">Papulo-squamous Disease</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Papulo-squamous Disease</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1NEVj_1E7P3qxaubCLT_PP4vx3iG1axBy" class="link-light text-decoration-none">Acne
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Acne
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1WWrbkAVgOWVtKKzBAmQyBFWeqnfKtGZW" class="link-light text-decoration-none">Blistering Diseases
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Blistering Diseases
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1WCX_qtqntCTMbJhyqQ1BS7XpvEE_I03-" class="link-light text-decoration-none">Dermatologial manifestations of Systemic Diseases
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Dermatologial manifestations of Systemic Diseases
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1PVIEQQpLSFNYArkYJ61j8zSGHQ2JaK5S" class="link-light text-decoration-none">Eczma and Dermatitis</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Eczma and Dermatitis</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1WdbYPDxthIg9SwfSXIEfYF9bEzZeZXZz" class="link-light text-decoration-none">Pigmentary Disorders
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Pigmentary Disorders
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1Wo8OTP0SL_HB3uKsooHXkuFH0B8yTllg" class="link-light text-decoration-none">Skin manifestations of Autoimmune Cionnective Tissue Disorders
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Skin manifestations of Autoimmune Cionnective Tissue Disorders
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1NOlEOvYDhn_W8WTXGxmv_X7hD2N0Hfdm" class="link-light text-decoration-none">Common hair Disorders
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Common hair Disorders
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1POIJBThYfIYx2G6CRGlKWttZMEpac-II" class="link-light text-decoration-none">Urtecaria and Drug Reactiond
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Urtecaria and Drug Reactiond
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1N-Pnr0A5VWUq6bw8FaxCAAknwndKLjA1" class="link-light text-decoration-none">Bening and Malignant tumours in the skin
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Bening and Malignant tumours in the skin
            </a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"><a href = "https://drive.google.com/uc?export=download&id=1N5CZ-OodoBFd4ucg-T9UMBBNLxGoHgoy " class="link-light text-decoration-none">Principles of pharmacotherapy in Dermatology
            </a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-danger"(click) = "todo()"><a class="link-light text-decoration-none">Principles of pharmacotherapy in Dermatology
            </a></button></td>
          </tr>
     
        </tbody>
      </table>
    </div>
    </div>
    <br>
    <br>
