
<div class="jumbotron big-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center">Bat Notes..</h1>
            </div>       
        </div>
    
        <i class="fa-brands fa-youtube"></i>
    
        <div class="row" > 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/pulmono" class="pod">
                <img src="assets/pulmono2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Pulmonology" height="350px" width="350px">
                </a>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/cvs" class="pod">
                <img src="assets/cvs2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="CVS" height="500px" width="350px">
                </a>
                
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/dermat" class="pod">
                <img src="assets/dermat2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="dermatology" height="450px" width="350px">
                </a>
               
            </div>  

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/nephro" class="pod">
                <img src="assets/nephro2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="dermatology" height="450px" width="350px">
                </a>
              
            </div> 

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/onco" class="pod">
                <img src="assets/onco2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="dermatology" height="450px" width="350px">
                </a>
            </div> 

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/toxico" class="pod">
                <img src="assets/toxicology2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="dermatology" height="450px" width="350px">
                </a>
                
            </div> 

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/ent" class="pod">
                <img src="assets/ent2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="dermatology" height="450px" width="350px">
                </a>
                
            </div> 
            
        </div> <!--//row-->
        
    
    
    
    </div><!--//container-->
