<div class="jumbotron big-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center">Modules for CSS1</h1>
            </div>       
        </div>

    
        <div class="row"> 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1oFcw_TUlQriFsWMMQBEW3FBQ0oRk7RVe/view?usp=share_link" class="pod">
                <img src="assets/css1/medicolegal.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Medicolegal" height="350px" width="350px">
                </a><h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1oFcw_TUlQriFsWMMQBEW3FBQ0oRk7RVe/view?usp=share_link" class="pod">Medicolegal</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1S6uE-vvd9UiMKPb2zIidY2eVNNFzoXFU/view?usp=share_link"class="pod">
                <img src="assets/css1/toxicology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="toxicology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1S6uE-vvd9UiMKPb2zIidY2eVNNFzoXFU/view?usp=share_link"class="pod">Toxicology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1Pr7fbSNfJ6kRHEG1RhSbHuW9vsvQfSFH/view?usp=share_link"class="pod">
                <img src="assets/css1/immunology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1Pr7fbSNfJ6kRHEG1RhSbHuW9vsvQfSFH/view?usp=share_link"class="pod">Immunology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/17Hg-Jfbtk5PKNCL5zTiVzSFMKuK9KXyg/view?usp=share_link"class="pod">
                <img src="assets/css1/oncology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="oncology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/17Hg-Jfbtk5PKNCL5zTiVzSFMKuK9KXyg/view?usp=share_link"class="pod">Oncology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1eMKugY99GlVH0d_GbmRUk2Dt1Wo3Yk94/view?usp=share_link"class="pod">
                <img src="assets/css1/haematology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="haematology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1eMKugY99GlVH0d_GbmRUk2Dt1Wo3Yk94/view?usp=share_link"class="pod">Haematology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1ymGoIj6JSuJ5cgoG0HBZRkfhsz9NNZp5/view?usp=share_link" class="pod">
                <img src="assets/css1/dermatology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="dermatology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1ymGoIj6JSuJ5cgoG0HBZRkfhsz9NNZp5/view?usp=share_link" class="pod">Dermatology</a></h1>
            </div>
    
        </div> <!--//row-->
        <div class="row">
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/15OGVSUpHZyHWRIQCKBrWOU5UHzmTpu01/view?usp=share_link"class="pod">
                <img src="assets/css1/ipd.jpg" class="mx-auto d-block img-fluid border border-dark" alt="IPD" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/15OGVSUpHZyHWRIQCKBrWOU5UHzmTpu01/view?usp=share_link"class="pod">IPD</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1vlyps2nL7KkJVm7iXyAsQ5FvBVvKXzWO/view?usp=share_link"class="pod">
                <img src="assets/css1/emargency.jpg" class="mx-auto d-block img-fluid border border-dark" alt="emergency" height="250px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1vlyps2nL7KkJVm7iXyAsQ5FvBVvKXzWO/view?usp=share_link"class="pod">Emergency Medicine</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1JFIDoS3oBz3a580SIei0QRzeZNhfsHrL/view?usp=share_link"class="pod">
                <img src="assets/css1/cvs.jpg" class="mx-auto d-block img-fluid border border-dark" alt="CVS" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1JFIDoS3oBz3a580SIei0QRzeZNhfsHrL/view?usp=share_link"class="pod">CVS</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1laiYSZifQwwzO-8XtytBPeOh2M3gIWjE/view?usp=share_link"class="pod">
                <img src="assets/css1/pulmonology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="pulmonology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1laiYSZifQwwzO-8XtytBPeOh2M3gIWjE/view?usp=share_link"class="pod">Pulmonology</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1aOpQ7pfh6P8DJ0cr68amKI_knbq5hAFV/view?usp=share_link"class="pod">
                <img src="assets/css1/trauma.jpg" class="mx-auto d-block img-fluid border border-dark" alt="trauma"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1aOpQ7pfh6P8DJ0cr68amKI_knbq5hAFV/view?usp=share_link"class="pod">Trauma</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1kTfp4P0QU8j_nQ82OpMh9LmFc3ILYWgj/view?usp=share_link"class="pod">
                <img src="assets/css1/Nephrology.jpg" class="mx-auto d-block img-fluid border border-dark" alt="nephrology" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1kTfp4P0QU8j_nQ82OpMh9LmFc3ILYWgj/view?usp=share_link"class="pod">Nephrology</a></h1>
            </div>
    
        </div><!--//row-->
    
        <div class="row">
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1Z21ERC329ERHxmHHKY3l3srvvLja2IJF/view?usp=share_link"class="pod">
                <img src="assets/css1/ent.jpg" class="mx-auto d-block img-fluid border border-dark" alt="ENT"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1Z21ERC329ERHxmHHKY3l3srvvLja2IJF/view?usp=share_link"class="pod">ENT</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1Jr9TpChQ21WPuBg7S1EhoKjf35ERMqCy/view?usp=share_link"class="pod">
                <img src="assets/css1/critical.jpg" class="mx-auto d-block img-fluid border border-dark" alt="critical Care" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1Jr9TpChQ21WPuBg7S1EhoKjf35ERMqCy/view?usp=share_link"class="pod">Critical Care</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/10g6p7D1tFigO7HxczcX4VOXLNuFMzJxH/view?usp=share_link"class="pod">
                <img src="assets/css1/git.jpg" class="mx-auto d-block img-fluid border border-dark" alt="GIT" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/10g6p7D1tFigO7HxczcX4VOXLNuFMzJxH/view?usp=share_link"class="pod">GIT</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a href="https://drive.google.com/file/d/1JySlkHDD9McPto97xMFZewMD2LS0MkTa/view?usp=share_link"class="pod">
                <img src="assets/css1/endocrine.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Endocrine" height="350px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a href="https://drive.google.com/file/d/1JySlkHDD9McPto97xMFZewMD2LS0MkTa/view?usp=share_link"class="pod">Endocrine</a></h1>
            </div>
        </div>
    
    
    
    
    </div><!--//container-->
</div>