
<div class="jumbotron big-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center">Medicolegal All Resources</h1>
            </div>       
        </div>

    
        <div class="row"> 
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/css1medico"  class="pod">
                <img src="assets/Medicolegal/css1.jpg" class="mx-auto d-block img-fluid border border-dark" alt="neuro" height="350px" width="350px">
                </a><h1 class="fw-lighter text-center"><a routerLink="/css1medico"  class="pod">CSS 1</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/css2medico" class="pod">
                <img src="assets/Medicolegal/css2.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/css2medico" class="pod">CSS 2</a></h1>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/mddis" class="pod">
                <img src="assets/Medicolegal/mddis.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/mddis" class="pod">Discussions</a></h1>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/asela" class="pod">
                <img src="assets/Medicolegal/as.jpg" class="mx-auto d-block img-fluid border border-dark" alt="Ophthalmology" height="500px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/asela" class="pod">Asela Sir's Notes</a></h1>
            </div>
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/medicopapers" class="pod">
                <img src="assets/Medicolegal/pastpapers.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/medicopapers" class="pod">Past Papers</a></h1>
            </div>

            
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <a routerLink="/medicobats" class="pod">
                <img src="assets/Medicolegal/bats.jpg" class="mx-auto d-block img-fluid border border-dark" alt="immunology" height="450px" width="350px"></a>
                <h1 class="fw-lighter text-center"><a routerLink="/medicobats" class="pod">BATs</a></h1>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
            
        </div> <!--//row-->

        <div class="row"> 