
<ul class="nav justify-content-center" id="tabs">
    <li class="nav-item ">
      <a class="nav-link active text-light"routerLink="/commedstatistics" >STATISTICS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/commedresearch">RESEARCH</a>
    </li>
    <li class="nav-item"  id="lit">
        <a class="nav-link text-light" routerLink="/commedfap">FAP</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link text-light" routerLink="/commedhome">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedacm">ACM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedpp">PAST-PAPERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedbats">BATS</a>
      </li>
  </ul>
  
  <div class="background">
      <div class="container">
          <h2  class="text-center header">Family Attachment Programme</h2>
          <p class="para">Click Below Buttons to Download...</p>
  
          <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>
      
      <table class="table table-info table-striped" id="use">
          <thead>
            <tr>
          
              <th scope="col" class="text-center">Note</th>
              <th scope="col" class="text-center">Audio Recording</th>
            </tr>
          </thead>
          <tbody>
            <tr>
      
              <td scope="row" class="text-center"><button type="button" class="btn btn-info" ><a href="https://drive.google.com/uc?export=download&id=125Bmlb9s-qXx6YHcz0fZhCAJepAN69G5" class="link-dark text-decoration-none"> Action Plan</a></button></td>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info" ><a href="https://drive.google.com/uc?export=download&id=10-hDVxNkoblfepnCv23DP6KNCbK9N3CG" class="link-dark text-decoration-none"> Action Plan</a></button></td>
            </tr>
            <tr>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=11qmd1Q2Qj4lNJLoSBCPQj7O2y2MDdRGh" class="link-dark text-decoration-none">Co-ordination health and non-health
              </a></button></td>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=" class="link-dark text-decoration-none">Co-ordination health and non-health
              </a></button></td>
            </tr>
            <tr>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=1243xXUK9_iQXcXOVk755YQjA2VUf7h1i" class="link-dark text-decoration-none">Elderly and Geriactric care
              </a></button></td>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=106o4jyyRfoyBkclJ2usyWZBQti6MihT7" class="link-dark text-decoration-none">Elderly and Geriactric care
              </a></button></td>
            </tr>
            <tr>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=122q99qDhVUitbKAAMG7s8UZDWB1dIGkw" class="link-dark text-decoration-none">Issues of providing first cantact care</a></button></td>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=10UmBpnmwVByRcHaRYF6QpaKc2JwB3idd" class="link-dark text-decoration-none">Issues of providing first cantact care</a></button></td>
            </tr>
            <tr>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=1239eIgqXuVuUf7nmLH_qdd1TWMlYRihX" class="link-dark text-decoration-none">NCDs in Family Level Care
              </a></button></td>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=10AtfbhtKO1WwWPoRrVT-oQWFycgdg1NE" class="link-dark text-decoration-none">NCDs in Family Level Care
              </a></button></td>
            </tr>
            <tr>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=14kUfnqgajO_xRAFoJ6B6CAuIqJsnV_cN" class="link-dark text-decoration-none">Nutritional Assessment</a></button></td>
              <td scope="row" class="text-center"><button type="button" class="btn btn-info"><a href="https://drive.google.com/uc?export=download&id=10Bn2fLKux4Kqih5f9-PMmnaR_Tdc5lUs" class="link-dark text-decoration-none">Nutritional Assessment</a></button></td>
            </tr>
       
          </tbody>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  
      </div>
      </div>
      <br>
      <br>
  