
<ul class="nav justify-content-center" id="tabs">
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/hsps1">HSPS 1</a>
      </li>
    <li class="nav-item ">
      <a class="nav-link active text-light" aria-current="page" href="https://drive.google.com/file/d/1bhahUd6j-w4H4wwf-roRz3AS_ki06N7p/view?usp=drive_link">HSPS 2</a>
    </li>
    <li class="nav-item"   id="lit">
      <a class="nav-link text-light" routerLink="/hsps3">HSPS 3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/hspshome">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/hspspp">PAST-PAPERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/hspsbats">BATS</a>
      </li>
  </ul>

  <div class="container-fluid" id="links">
    <h4 id="title" class="animated-title">Click Here these Buttons to Download all the lectures/recordings as a Zip File</h4>
  <button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/uc?export=download&id=1Gq26HMfpiCp_BgEvOWtxTb6T5TyFPrMd" class="text-decoration-none text-light">Lecture Notes</a> </button>
  &nbsp;<button type="button" class="btn btn-dark" id="zip"><a href="https://drive.google.com/uc?export=download&id=1h3jdAqOl0dcar0L5pWI1IQ3xM01YJ1rB" class="text-decoration-none text-light">Lecture Recordings</a> </button>
  

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" id="lst"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item" id="lst"><a routerLink="/hspshome">HSPS</a></li>
      <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/css2medico">HSPS-3 CScS</a></li>
  
    </ol>

    <p class="paragraph">Please click on the icons to view relavant component</p>
  </nav>

 <div class="pdf">
    <button type="button" class="btn btn-success" (click)="DownloadPDF()">Download the Lecture Topics As PDF</button>
    </div>

<div class="container">
    <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">1.Ethics of treating mentally ill patients </h3>
                    <h4>Dr. Chathuri Suraweera</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">2.Practical aspects of changing tobacco policy at govt level </h3>
                    <h4>Dr. Prabath Wickrama</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">3.Promoting social behavior change</h3>
                    <h4>Prof Priyanjalee de Zoysa</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">4.Attitudinal change and persuasion </h3>
                    <h4>Prof Priyanjalee de Zoysa</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">5.Communicating with mentally ill patients and people with communication difficulties </h3>
                    <h4>Dr. Suhashini Ratnantunga</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">6.communicating with the media </h3>
                    <h4>Dr. Santhushya Fernando</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">7.Coping with loss and its defence mechanisms </h3>
                    <h4>Prof Priyanjalee de Zoysa</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">8.Learning in the clinical setting </h3>
                    <h4>Prof. Panduka Karunanayaka</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">9.Portraying suicide, homicide and accident in the media</h3>
                    <h4>Dr. Anuprabha Wickramasinghe</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">10.Communicating end-of-life decisions </h3>
                    <h4>Prof. Thashi Chang</h4>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1U7sR-Q9uDnQmcZcGwZjgku_kkxaesgTg/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">11.Traditional systems of medicine in Sri Lanka </h3>
                    <h4>Prof. Manuj Weerasinghe</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">12.SPIKES model of breaking bad news (giving serious information) </h3>
                    <h4>Prof. Thashi Chang</h4>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1k52Swww4LXZyIjUq-cIWW1QmoS3BGyDA/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">13.Learning the art of an effective oral presentation </h3>
                    <h4>Prof. Thashi Chang</h4>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1sRTH2O6Z0_RM9vSR0s0y-BtAa9PMV883/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">14.Social Determinants of Health Related Behaviors</h3>
                    <h4>Prof. Saroj Jayasinghe</h4>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1cS62SjXsJIcd5i3pBwF7hoSDTO6ShqfE/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">15.Principles of administration and management skills for doctors</h3>
                    <h4>Dr. Santhushya Fernando</h4>                           
                    <p><a class="tds" href="https://docs.google.com/presentation/d/1Vxn1Lwwz8hZACrKRyZ1RzRMWQDkpWoxC/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">16.Leadership </h3>
                    <h4>Dr. Madhri Senanayaka</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">17.Principals of Resource allocation in the healthcare </h3>
                    <h4>Prof. Saroj Jayasinghe</h4>                           
                    <p><a class="tds" href="https://docs.google.com/presentation/d/1MXcwr3a55v5WNam0Dsy7OevhV_lnyOEO/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">18.Communicating with seriously ill patients and their families </h3>
                    <h4>Prof. Anuja Abayadeera</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">19.Disaster Management </h3>
                    <h4>Prof. Indika Karunathilaka</h4>                           
                    <p><a class="tds" href="https://docs.google.com/presentation/d/1evm7UVi2AZnTbjzCqerZjW69H28HAtVB/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">20.Health seeking behaviours </h3>
                    <h4>Prof. Panduka Karunanayaka </h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">21.Difficult communication tasks </h3>
                    <h4>Dr. Anuprabha Wickramasinghe</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">22.	Changing the practices of parents on using physical and psychological punishment in disciplining </h3>
                    <h4>Prof. Priyanjalee de Zoysa</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">23.Recognising and managing alcohol and drug problems</h3>
                    <h4>Dr. Anuprabha Wickramasinghe</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">24.Managing patients in maintenance and relapse stages of change </h3>
                    <h4>Dr. Madhri Senanayaka</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">25.Managing patients in precontemplation and contemplation stages of change </h3>
                    <h4>Dr. Santhushi Amarasuriya</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">26.Helping people change: an overview of motivational interviewing </h3>
                    <h4>Dr. Santhushi Amarasuriya</h4>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">27.Issues in providing first contact health care to the family </h3>
                    <h4>Dr. Ruvaiz Haniffa</h4>                           
                    <p><a class="tds" href="https://docs.google.com/presentation/d/1n-mr7l5Zb-KiI7ECGsjCGW7LOUG17rpR/edit?usp=drive_link&ouid=107007707675850420095&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>  
                    <a  href=""><i class="fa-sharp fa-solid fa-file-audio fa-2xl" style="color: #043c20;"></i></a>
                    <a  href="" target="_blank"><i class="fa-sharp fa-solid fa-file-video fa-2xl" style="color: #07466b;"></i></a>
                    <a  href="" target="_blank"><img class="image2" src="assets/moodle3.png"></a> </p>
                    
                </div>
            </div>

            


    </div>
</div>