<ul class="nav justify-content-center" id="tabs">
    <li class="nav-item ">
      <a class="nav-link active text-light"routerLink="/commedstatistics" >STATISTICS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/commedresearch">RESEARCH</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedfap">FAP</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link text-light" routerLink="/commedhome">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedacm">ACM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedpp">PAST-PAPERS</a>
      </li>
      <li class="nav-item" id="lit">
        <a class="nav-link text-light" routerLink="/commedbats">BATS</a>
      </li>
  </ul>


  <div class="pdf">
    <button type="button" class="btn btn-success"id="zip"><a href="https://drive.google.com/file/d/1YqGwym-MSBPBE1ITTPTA1pC6MviHPXay/view?usp=drive_link" class="text-decoration-none text-light" >CSA 4 Bat Note</a></button><br><br>
    <button type="button" class="btn btn-danger"id="zip"><a href="https://drive.google.com/file/d/12wlLTzEMGIaTq8V9y_1YT5gCGELId_wo/view?usp=drive_link" class="text-decoration-none text-light" >Commed Final Year</a></button>
  
  </div>

  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
    