<ul class="nav justify-content-center" id="tabs">
    <li class="nav-item ">
      <a class="nav-link active text-light"routerLink="/commedstatistics" >STATISTICS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/commedresearch">RESEARCH</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedfap">FAP</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link text-light" routerLink="/commedhome">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedacm">ACM</a>
      </li>
      <li class="nav-item"  id="lit">
        <a class="nav-link text-light" routerLink="/commedpp">PAST-PAPERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/commedbats">BATS</a>
      </li>
  </ul>

  <div class="button2">
    <button type="button" class="btn btn-danger"><a href="https://drive.google.com/drive/folders/1-tHJrt2TaM1yooNHw5LcGse8UBqxuQzh?usp=drive_link" class="text-decoration-none text-light"> Model Papers 2018 CSS2</a></button>

  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>