<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" id="lst"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item" id="lst"><a routerLink="/css2">CSS 2</a></li>
      <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/css1medico">CSS 1 - Medicolegal</a></li>
      <li class="breadcrumb-item" aria-current="page" id="lst"><a routerLink="/css1videos">CSS 1 - Medicolegal Lecture Notes</a></li>
  
    </ol>

    <p class="paragraph">Please click on the icons to view relavant component</p>
  </nav>



<div class="container">
    <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">1.Introduction to forensic Medicine</h3>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1SXPKK1PMaRhRR8Pa-HMiztN3quzTFlUj/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">2.Basic types of injuries</h3>                           
                    <p>1.<a class="tds" href="https://drive.google.com/file/d/1jw3IrfgWWNwPb4mZmW7C9N47xIP2ImNi/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>
                    2.<a class="tds" href="https://drive.google.com/file/d/1ASefff1EXMc60dx3TKrDKI2a5k_FPrg2/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> </p> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">3.Death:Definition and diagnosis</h3>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1LD132P0KnKGJIGR2tCTZagu19YXvd6-W/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">Categorization of injuries</h3>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1UaKmBNAqHrOVThmd7Vy3smPNiuGQOnzP/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">4.Legal concepts of bodily harm and disability from injuries</h3>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">5.Principles and procedures of medicolegal examination and reporting of victim of trauma</h3>                           
                    <p><a class="tds" href=""><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">6.Changes after death and their medicolegal application</h3>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1E6gMJL3s57RVVh4dcoyQnyegjtvxmO2i/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">7.Crime scene investigations</h3>                           
                    <p>1.<a class="tds" href="https://drive.google.com/file/d/1iMHPUQcoL66imCc9EpADWOdlHUAyJTnQ/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                        
                    2.<a class="tds" href="https://docs.google.com/presentation/d/1r9YsxJWuiCI9yYnF7B0sdlOEYyqG-lmH/edit?usp=drive_link&ouid=113217266484128823151&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a></p> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">8.Cause of Death & WHO format</h3>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1Vg3KAy3RWUz__yif8YIaglYlLX_rfWLo/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">9.Death investigation and registration system of Sri Lanka</h3>                           
                    <p><a class="tds" href="https://drive.google.com/file/d/1Ep_IcjglYHEqejS6UQuziZSqU-WWwuds/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> 
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">10.Court system of Sri Lanka and Expert Witness</h3>                           
                    <p>1.<a class="tds" href="https://docs.google.com/presentation/d/1mpbV8fIB0p1roAvHGzIVFfn376vbqG93/edit?usp=drive_link&ouid=113217266484128823151&rtpof=true&sd=true"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>           
                    2.<a class="tds" href="https://drive.google.com/file/d/1YQAF8VBlcUBvvwcPmw5J5p3ltijuAK2h/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a>                        
                    3.<a class="tds" href="https://drive.google.com/file/d/1H29Ytv-OuBAzzTYqUC21s4nq2XiblRL-/view?usp=drive_link"><i class="fa-solid fa-file-pdf fa-2xl" style="color: #8c182f;" ></i></a> </p>
                </div>
            </div>


    </div>
</div>

