<div class="background">
    <div class="container">
        <h2  class="text-center header">Pulmonology BAT Notes</h2>
        <p class="para">Click Below Buttons to Download...</p>

        <button type="button" class="btn btn-dark backbtn"><a href="" class ="link-light text-decoration-none" >Back</a></button>
    
    <table class="table table-success table-striped" id="use">
        <thead>
          <tr>
        
            <th scope="col" class="text-center">Word</th>
            <th scope="col" class="text-center">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td scope="row" class="text-center"><button type="button" class="btn btn-success" ><a href="https://drive.google.com/uc?export=download&id=1P4Fk6TcVAVgxQiUXc_muaYb5ygBuX2F9" class="link-light text-decoration-none">COPD</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success" ><a href="https://drive.google.com/uc?export=download&id=1P4Fk6TcVAVgxQiUXc_muaYb5ygBuX2F9" class="link-light text-decoration-none">COPD</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1xHJQi7-H0fk1ihUNGWCc8xDS-NB_9QS3" class="link-light text-decoration-none">Asthma</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1ExefZnyyieV1whlOv3jjIYWNaGidtmbJ" class="link-light text-decoration-none">Asthma</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"(click) = "todo()"><a  class="link-light text-decoration-none">Bronchiectasis</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"(click) = "todo()"><a  class="link-light text-decoration-none">Bronchiectasis</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"(click) = "todo()"><a  class="link-light text-decoration-none">Lung Abscess</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"(click) = "todo()"><a  class="link-light text-decoration-none">Lung Abscess</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=18t5Pp67ztDNF6d9JADL7sypxMyih76P6" class="link-light text-decoration-none">Pneumonia</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1CGqEWMwqKJKd-7W5CNx6mIhbQflu1BU9" class="link-light text-decoration-none">Pneumonia</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1KwaT_HWhsCQKcRFNOcLSOGBYp5y0LBft" class="link-light text-decoration-none">TB-Adult</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1vdNAvjA7eGnQELXbzCskEiF4Hj_riPqK" class="link-light text-decoration-none">TB-Adult</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"(click) = "todo()"><a  class="link-light text-decoration-none">TB-Peadiactrics</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"(click) = "todo()"><a  class="link-light text-decoration-none">TB-Peadiactrics</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1OGegrYRhRu3EeJ9FuXWxus7HIUb1Aird" class="link-light text-decoration-none">Obstructive Sleep Apnea</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1oedSpbG2-KyqfwoXnXOzbWIDlAfT-AGs" class="link-light text-decoration-none">Obstructive Sleep Apnea</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1kr1JZfgLTkx956ersALHfHXs3JQmlWVx" class="link-light text-decoration-none">Intestitial Lung Disease</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1fLrXmoP6evdmGsY6DmJ0BZlY3RKGzqLQ" class="link-light text-decoration-none">Intestitial Lung Disease</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"(click) = "todo()"><a  class="link-light text-decoration-none">Pulmonary Hypertension</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"(click) = "todo()"><a  class="link-light text-decoration-none">Pulmonary Hypertension</a></button></td>
          </tr>
          <tr> 
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1UKoAR4ga_n3X7KLH94hVFWxM3bBaqj6O" class="link-light text-decoration-none">Pleural Effusion</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1WRhOTy48vf9QQiLEbgkWTdkJEdgZXhEf" class="link-light text-decoration-none">Pleural Effusion</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1t95TMIWUogdRf8TbPLeAIuTwdYOYX3-G" class="link-light text-decoration-none">Stridor</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1sOqmHfBit4KO_djToP75NLMt362z8onE" class="link-light text-decoration-none">Stridor</a></button></td>
          </tr>
          <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1hf01JzGz6OXkGDPoLTzvexUhIwz6Q3ie" class="link-light text-decoration-none">Lung Malignancies</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1JGo2sIL3zt7j7z4WzmJ8GGCcK1TMusRP" class="link-light text-decoration-none">Lung Malignancies</a></button></td>
          </tr>
           <tr>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1oiGZPFkYANceV4unWiqYtjX-kHnbNrOv" class="link-light text-decoration-none">Pnemothorax</a></button></td>
            <td scope="row" class="text-center"><button type="button" class="btn btn-success"><a href="https://drive.google.com/uc?export=download&id=1XMuNfIfxRznNBwlMceTMDd7NmpJJZ5GU" class="link-light text-decoration-none">Pnemothorax</a></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <br>
    <br>