<ul class="nav justify-content-center" id="tabs">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/hsps1">HSPS 1</a>
    </li>
      <li class="nav-item ">
        <a class="nav-link active text-light" aria-current="page" href="https://drive.google.com/file/d/1bhahUd6j-w4H4wwf-roRz3AS_ki06N7p/view?usp=drive_link">HSPS 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/hsps3">HSPS 3</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-light" routerLink="/hspshome">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/hspspp">PAST-PAPERS</a>
        </li>
        <li class="nav-item"  id="lit">
          <a class="nav-link text-light" routerLink="/hspsbats">BATS</a>
        </li>
    </ul>

    <div class="button2">
      <h2>Bat Notes</h2>
      <button type="button" class="btn btn-danger"><a href="https://drive.google.com/file/d/1ySLpYEswRrV3nvpRwnPIe3lcxHj0xrmv/view?usp=drive_link" class="text-decoration-none text-light"> Medical Ethics + Communication </a></button>
      <button type="button" class="btn btn-primary"><a href="https://drive.google.com/file/d/1N0tV25qtoyu5jW8mbBL7_Xn0lifWm8lV/view?usp=drive_link" class="text-decoration-none text-light"> Communication Skills </a></button>
      <button type="button" class="btn btn-success"><a href="https://drive.google.com/file/d/10rkMF5YJgoxlfAsTEoWDMzuluRB4V9Wd/view?usp=drive_link" class="text-decoration-none text-light"> Ethics </a></button>
  
    </div>
  
    
    <div class="row container">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Final HSPS Overview Bat</h1>
            <a href="https://drive.google.com/file/d/13vumZzJWR3cToScNZAJi0M8yUWP1LWkk/view?usp=drive_link" class="btn btn-primary">Part 1</a>
            <a href="https://drive.google.com/file/d/14IZ_7_FPsILIjd1-NcHsQoh9rm5zK_95/view?usp=drive_link" class="btn btn-primary">Part 1</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">HSPS 1</h1>
            <a href="https://drive.google.com/drive/folders/0B4Qt5sI1nUipRm1MVndJeUtZZ2c?resourcekey=0-fWlg4Gz4wjy6yzIlCzPXTg&usp=drive_link" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row container">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">HSPS 2</h1>
            <a href="https://drive.google.com/drive/folders/1owwFhppmu2liIxQkNMsoh7XGwd-sg9Hp?usp=drive_link" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">HSPS 3</h1>
            <a href="https://drive.google.com/drive/folders/1qXhYA8L9fA7j8TACYJ5mDRmOEK8Hc9YG?usp=drive_link" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
  